.toplevel_page_gutenverse {
    #wpcontent {
        padding: 0;
    }

    .notice {
        max-width: 1180px;

        &.gutenverse-banner,
        &.has-logo,
        &.gutenverse-upgrade-notice {
            max-width: 1180px;
        }
    }

    .notice,
    .notice.has-logo {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

#gutenverse-dashboard {
    a {
        &:focus {
            box-shadow: none;
            cursor: pointer;
        }
    }

    .welcome-to {
        border: 1px solid #e1e1e1;
        border-radius: 20px;
        text-transform: uppercase;
        padding: 4px 12px;
        background-color: #F2F4F7;
        font-family: "Roboto", serif;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-align: left;
        width: fit-content;
    }

    .help-plugin-list {
        min-height: 20px;
        padding: 20px;

        &>h3 {
            font-family: "Roboto", serif;
            font-size: 16px;
            font-weight: 500;
            margin: 0;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
        }

        &>p {
            font-family: "Roboto", serif;
            font-size: 12px;
            font-weight: 400;
            margin: 16px 0 0;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

    .plugins {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 20px;

        h3,
        p {
            margin: 0;
        }

        .plugins-desc {
            display: flex;

            p {
                width: 220px;
            }
        }

        .plugin-list {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;

            .plugin {
                background-color: #343a6d;
                box-sizing: border-box;
                border-radius: 5px;
                width: 100%;
                color: white;
                padding: 20px;

                h4 {
                    margin: 0;
                    font-family: "Plus Jakarta Sans", serif;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 20px;
                    margin: 0;

                    span {
                        font-weight: 800;
                    }
                }

                .actions {
                    display: flex;
                    align-items: center;
                    align-content: center;
                    gap: 16px;
                    margin-top: 20px;
                }

                .rate {
                    cursor: pointer;
                    text-align: center;
                    font-size: 7px;
                    font-family: "Roboto", serif;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.42px;
                    text-transform: uppercase;
                    display: flex;
                    justify-content: flex-start;
                    border: 1px solid transparent;
                    background: 
                        linear-gradient(to right, #343a6d, #343a6d),
                        linear-gradient(101deg, rgba(158, 112, 255, 0.63) 6%, #90d9ff 58%, rgba(123, 131, 255, 0.5) 100%);
                    background-clip: padding-box, border-box;
                    background-origin: padding-box, border-box;
                    border-radius: 3px;

                    a{
                        flex-grow: 0;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 6px;
                        padding: 7px 8px;
                        background-image: linear-gradient(139deg, rgba(59, 88, 247, 0.33) 17%, rgba(143, 244, 255, 0.16) 73%);
                        text-decoration: none;

                        span {
                            font-family: 'Roboto', serif;
                            font-size: 7px;
                            font-weight: 500;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 7px;
                            letter-spacing: 0.42px;
                            text-align: center;
                            color: #fff;
                            text-decoration: none;
                        }
                        
                        .star-rating {
                            display: flex;
                            gap: 4px;
                        }

                    }
                }

                .support a {
                    color: white;
                    text-decoration: none;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-family: "Roboto", serif;
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: left;
                  
                    .tech-support-pro {
                        font-family: "Roboto", serif;
                        font-size: 10px;
                        font-weight: 400;
                        text-align: left;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: 0.42px;
                        justify-content: flex-start;
                        border: 1px solid transparent;
                        background: 
                            linear-gradient(to right, #343a6d, #343a6d),
                            linear-gradient(101deg, rgba(158, 112, 255, 0.63) 6%, #90d9ff 58%, rgba(123, 131, 255, 0.5) 100%);
                        background-clip: padding-box, border-box;
                        background-origin: padding-box, border-box;
                        border-radius: 3px;
                  
                      .container {
                            align-items: center;
                            display: flex;
                            gap: 6px;
                            padding: 4px 8px;
                            background-image: linear-gradient(139deg, rgba(59, 88, 247, 0.33) 17%, rgba(143, 244, 255, 0.16) 73%);
                        }
                    }
                }  
            }
        }
    }

    h2 {
        align-items: center;
        display: flex;

        &.not-found-title {
            justify-content: center;
        }

        svg {
            margin-right: 8px;
        }
    }

    .content-wrapper {
        border-radius: 5px;

        &.dashboard {
            align-items: start;
            display: flex;
            justify-content: center;
            padding: 36px 40px 66px 40px;

            .dashboard-content {
                flex-wrap: nowrap;
            }
        }
    }

    .panel-wrapper {
        align-items: flex-start;
        align-content: flex-start;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        &.first-wrapper {
            margin-right: 30px;
        }

        &.second-wrapper {
            max-width: 300px;
        }
    }

    .box-panel {
        background-color: #fff;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        padding: 25px;
        width: 100%;

        svg path {
            fill: var(--gutenverse-dashboard-primary);
        }
    }

    /* SUBSCRIBE PANELS */
    .subscribe-panel,
    .feature-panel {
        align-items: flex-start;
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        padding: 0px;
    }

    // .help-plugin-list {
    //     background-color: #E4F4FF;
    //     border-radius: 5px;
    //     width: 100%;
    // }

    .subscribe-panel {
        background: radial-gradient(35.35% 90.91% at 18.82% 68%, #5c8dc8 0%, #93bddb 100%);
        border-radius: 10px;
        padding: 0 30px;

        >div {
            width: 50%;
        }

        >div:first-child {
            align-content: flex-end;
        }

        >div:last-child {
            background: #fff48c;
            border-radius: 3px;
            height: fit-content;
            position: relative;
            top: 30px;

            >div {
                padding: 30px 36px;
            }

            h2 {
                color: #011627;
                font-family: "Roboto", serif;
                font-size: 20px;
                font-weight: 600;
                line-height: 23px;
                letter-spacing: 0em;
            }

            span {
                color: #40505d;
                font-family: "Roboto", serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0em;
                margin-top: 16px;
                margin-bottom: 20px;
            }
        }

        .illustration {
            height: calc(100% + 30px);
        }
    }

    .subscribe-panel h2,
    .subscribe-panel span,
    .feature-panel h2,
    .feature-panel span {
        display: block;
        margin: 0;
        width: 100%;
    }

    .feature-panel h2 {
        color: #011627;
        font-family: "Roboto", serif;
        font-size: 42px;
        font-style: normal;
        font-weight: 600;
        line-height: 50px;
        margin-bottom: 21px;
    }

    .subscribe-panel span,
    .feature-panel span {
        color: #40505d;
        font-family: "Roboto", serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    .feature-panel a {
        color: var(--gutenverse-dashboard-primary);
        font-family: "Roboto", serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        text-decoration: none;

        i {
            font-size: 16px;
            margin-right: 6px;
        }
    }

    .feature-panel .join-community-button {
        background-color: var(--gutenverse-dashboard-primary);
        border-radius: 5px;
        color: #fff;
        display: flex;
        padding: 6px;
        width: fit-content;

        .circle {
            background-color: #fff;
            border-radius: 5px;
            color: var(--gutenverse-dashboard-primary);
            height: 28px;
            width: 28px;

            i {
                align-items: center;
                display: flex;
                height: 28px;
                justify-content: center;
                margin: 0;
                width: 28px;
            }
        }

        span {
            align-items: center;
            color: #FFFFFF;
            display: flex;
            font-family: "Roboto", serif;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 15px;
            margin: 0 20px 0 8px;
        }
    }

    .feature-panel span {
        margin-bottom: 48px;
    }

    .subscribe-panel span,
    .bottom-panels span.description {
        color: #40505d;
    }

    .subscribe-panel .description {
        padding: 0;
    }

    .subscribe-panel .note {
        font-size: 10px;
    }

    .subscribe-panel>div,
    .feature-panel>div {
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0px;
        position: relative;
    }

    #subcription-email {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;

        input {
            background: none;
            border: none;
            font-family: "Roboto", serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            margin: 0;
            padding: 0;
            width: 100%;

            &:focus {
                box-shadow: none;
            }

            &::placeholder {
                color: #99a2a9;
                line-height: 140%;
            }
        }

        .input {
            align-items: center;
            background: #ffffff;
            border-radius: 3px;
            border: 1px solid #c9cacd;
            display: flex;
            flex: 1 1;
            gap: 12px;
            padding: 8px 16px;

            svg path {
                fill: #99a2a9;
                opacity: 0.6;
            }
        }

        .btn {
            font-family: "Roboto", serif;
        }
    }

    .subscribe-panel .btn {
        align-items: center;
        background: var(--gutenverse-dashboard-primary);
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-size: 14px;
        justify-content: center;
        padding: 18px 0;
        position: relative;
        width: 100%;

        &.start-building {
            padding: 18px 10px;
            width: calc(100% - 20px);
        }
    }

    .subscribe-panel .btn.done {
        background-color: #5cb85c;
    }

    .subscribe-panel .warning {
        color: #ff6347;
        font-size: 10px;
    }

    .subscribe-panel .warning {
        background-color: #555;
        border-radius: 6px;
        bottom: 80%;
        color: #fff;
        left: 20%;
        margin-left: -60px;
        padding: 5px 0;
        position: absolute;
        text-align: center;
        width: 200px;
        z-index: 1;
    }

    .subscribe-panel .warning::after {
        border-color: #555 transparent transparent transparent;
        border-style: solid;
        border-width: 5px;
        content: "";
        left: 50%;
        margin-left: -5px;
        position: absolute;
        top: 100%;
    }

    .feature-panel {

        >div {
            width: 50%;
        }

        >div:first-child {
            justify-content: flex-start;

            >div {
                margin-right: 40px;
            }
        }

        .illustration {
            border-radius: 10px;
            height: 314px;
            object-fit: cover;
            width: 100%;
        }
    }

    .loader {
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        border-radius: 50%;
        border-top: 5px solid #ffffff00;
        border: 5px solid #f3f3f3;
        height: 10px;
        width: 10px;
    }

    .subscribe-panel .btn .checkmark {
        padding: 10px 25px;
    }

    .subscribe-panel .btn .checkmark:after {
        animation-duration: 800ms;
        animation-name: checkmark;
        animation-timing-function: ease;
        border-right: 5px solid #f3f3f3;
        border-top: 5px solid #f3f3f3;
        content: "";
        height: 15px;
        left: 42%;
        opacity: 1;
        position: absolute;
        top: 50%;
        transform-origin: left top;
        transform: scaleX(-1) rotate(135deg);
        width: 6px;
    }

    /* FEATURE PANELS */
    .activation-features {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;

        .feature-block {
            display: flex;

            &>div {
                align-items: center;
                background: #f5f5fa;
                border-radius: 50px;
                display: flex;
                margin: 0 6px 12px;
                padding: 8px 10px;
                width: fit-content;
            }

            &>div>.dot {
                align-items: center;
                background: var(--gutenverse-dashboard-primary);
                border-radius: 50px;
                color: #fff;
                display: flex;
                height: 18px;
                justify-content: center;
                min-width: 18px;
            }

            &>div>span {
                color: #40505d;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                margin: 0 10px;
                width: max-content;
            }
        }
    }

    .themelist-panel {
        background-color: #f9f9ff;
        background-size: cover;
        border-radius: 5px;
        justify-content: start;
        padding: 35px 30px;

        .themelist-details {
            display: flex;
            flex-wrap: wrap;

            h2,
            span {
                display: flex;
                margin: 10px 0;
                text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
                width: 100%;
            }

            a {
                align-items: center;
                color: var(--gutenverse-dashboard-primary);
                display: flex;
                justify-content: space-between;
                line-height: 15px;
                margin: 10px 0;
                text-decoration: none;
                width: fit-content;

                i {
                    margin-left: 10px;
                }
            }
        }
    }

    .rating-panel {
        cursor: pointer;
        padding: 0;

        .illustration {
            border-radius: 5px;
            width: 100%;
        }
    }

    .support-panel {
        display: block;
        padding: 0;

        .doc-details,
        .support-details {
            border-radius: 5px;
            display: flex;
            flex-wrap: wrap;

            h2,
            span {
                font-family: "Roboto", serif;
                margin: 10px 0;
                width: 100%;
            }

            a {
                align-items: center;
                color: var(--gutenverse-dashboard-primary);
                display: flex;
                font-family: "Roboto", serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                justify-content: flex-start;
                line-height: 16px;
                margin: 10px 0;
                text-decoration: none;
                width: 100%;
                width: fit-content;

                i {
                    margin-left: 10px;
                }
            }
        }

        .doc-details {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 1200px) {
    #gutenverse-dashboard {
        .content-wrapper.dashboard {
            .dashboard-content {
                flex-wrap: wrap;
                row-gap: 75px;
            }
        }

        .panel-wrapper {
            &.first-wrapper {
                margin-right: 0;
            }

            &.second-wrapper {
                max-width: 100%;
            }

            .plugins {
                &>* {
                    width: 100%;
                }

                .plugin-list {
                    .plugin {
                        width: calc(50% - 10px);
                    }
                }
            }
        }
    }
}

@media (max-width: 765px) {
    #gutenverse-dashboard {
        .panel-wrapper {
            .plugins {
                .plugin-list {
                    .plugin {
                        width: 100%;
                    }
                }
            }

            .feature-panel {
                flex-direction: column-reverse;
                flex-wrap: wrap;
                gap: 0px;

                >div {
                    width: 100% !important;
                }

                .illustration {
                    margin-bottom: 20px;
                }
            }

            .subscribe-panel {
                flex-wrap: wrap;

                &>div {
                    width: 100%;
                }

                .illustration {
                    display: none;
                }
            }
        }
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes checkmark {
    0% {
        height: 0;
        opacity: 1;
        width: 0;
    }

    20% {
        height: 0;
        opacity: 1;
        width: 6px;
    }

    40% {
        height: 15px;
        opacity: 1;
        width: 6px;
    }

    100% {
        height: 15px;
        opacity: 1;
        width: 6px;
    }
}

body.toplevel_page_gutenverse-dashboard .notice:not(.gutenverse-notice):not(.theme-upgrade-notice) {
    display: none;
}

#gutenverse-library-themes-content-wrapper {
    height: 660px;
    border-radius: 5px;
    overflow: hidden;

    .banner-wrapper {
        position: relative;
        height: 100%;
        background-size: cover;

        @media screen and (max-width: 700px) {
            .list-demo-image {
                display: none !important;
            }

            .banner-glitter {
                display: none;
            }

            .banner-content {
                .col-1 {
                    width: 100%;
                    padding: 20px;

                    .title-wrapper {
                        width: 100%;
                    }
                }

                .col-2 {
                    display: none;
                }
            }
        }

        .background-banner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }

        .banner-content {
            display: flex;
            position: relative;
            z-index: 5;
            height: 100%;
            width: 100%;
            border-radius: 5px;

            .col-1 {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 7;

                .title-wrapper {
                    padding: 40px;

                    .list-row-container {
                        margin: 0px;
                    }
                }

                .notice-text {
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-size: 12px;
                    color: #00223D99;
                    max-width: 327px;
                }

                .title {
                    font-family: "Host Grotesk", sans-serif;
                    font-weight: 700;
                    font-size: 40px;
                    background: linear-gradient(93.32deg, #00223D 0.65%, #371C73 68.04%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    margin: 0 0 5px 0;
                    line-height: 1.1em;
                    gap: 5px;
                    flex-wrap: wrap;

                    .highlight-title {
                        background: linear-gradient(84.36deg, #7032FF 15.93%, #4B8EFF 106.42%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        color: transparent;
                        text-wrap: nowrap;
                    }

                    &:last-of-type {
                        margin-bottom: 24px;
                    }
                }

                .list-row {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    color: #00223D99;
                    line-height: normal;
                    margin-bottom: 12px;
                }

                .action-wrapper {
                    display: flex;
                    gap: 20px;
                    margin-top: 32px;
                    margin-bottom : 15px;

                    .button-install-theme {
                        cursor: pointer;
                        border-radius: 8px;
                        width: 169px;
                        height: 45px;
                        background: radial-gradient(103.69% 112% at 51.27% 100%, #4992FF 0%, #7722FF 100%);
                        border: 1px solid rgba(255, 255, 255, 0.1);
                        box-shadow: 0px 4px 4px -4px #00000033;
                        font-family: Roboto;
                        font-weight: 500;
                        font-size: 14px;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: transform 0.3s ease, color 0.3s ease;

                        svg {
                            animation: infinite rotate 2s linear;
                        }
                        &:hover{
                            color: hsla(0, 0%, 100%, .75);
                            transform: scale(0.94);
                        }
                    }

                    .button-learn-more {
                        font-family: Roboto;
                        font-weight: 500;
                        font-size: 14px;
                        color: #00223D;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        transition: color 0.3s ease;
                        text-decoration: none;

                        &:hover{
                            color: #3B57F7;
                        }
                    }
                }
            }

            .col-2 {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-position: center;
                background-repeat: no-repeat;
                background-position-x: 20px;
                background-size: contain;
                height: calc(100% + 5px);
            }

            .mockup-demo-image {
                position: absolute;
                right: 17px;
                top: 151px;
                width: 480px;
                z-index: 2;

                &.layout {
                    border-radius: 10px;
                    box-shadow: 0 0 40px #b3edf4;
                    height: 225px;
                    right: 94px;
                    top: 213px;
                    width: 325px;
                    z-index: 1;
                }
            }
        }

        .list-demo-image {
            position: absolute;
            right: -20px;
            max-width: 50%;
            z-index: 2;
            top: 0;
            z-index: 3;
            height: 100%;
        }

        .banner-glitter {
            position: absolute;
            width: 100%;
            top: 0;
            z-index: 6;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}

.update-php {
    .wrap {
        max-width: 100% !important;
    }
}

.gutenverse-unibiz-notice {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &.notice {
        border: none;
        padding: 0;
    }

    .unibiz-gutenverse-badge {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 121px;
        margin: 0 15px 15px 0;
    }

    .content-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        position: relative;

        .close-button {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            transition: transform 0.3s ease;
            z-index: 5;

            &:hover {
                transform: scale(0.93);
            }
        }

        .col-1 {
            width: 50%;
            position: relative;
            z-index: 3;

            .content {
                margin: 40px 0 40px 60px;
            }

            .title {
                font-family: 'Host Grotesk', sans-serif;
                font-weight: 700;
                font-size: 24px;
                line-height: 1.14;
                background: linear-gradient(93.32deg, #00223d 0.65%, #371c73 68.04%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-bottom: 12px;

                .highlight-title {
                    background: linear-gradient(84.2deg, #7032ff 15.94%, #4b8eff 97.2%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            .description {
                font-family: 'Host Grotesk', sans-serif;
                font-weight: 400;
                font-size: 14px;
                color: #00223d99;
                margin: 0 0 12px 0;
            }

            .feature-wrapper {
                display: flex;
                gap: 10px;
                text-wrap: nowrap;
                align-items: center;
                margin-bottom: 24px;

                .feature-item {
                    display: flex;
                    gap: 6px;
                    align-items: center;
                    font-family: 'Host Grotesk', sans-serif;
                    font-weight: 400;
                    font-size: 12px;
                    color: #5c51f3;
                    border-radius: 24px;
                    padding: 3px 10px 3px 5px;
                    background: #fff;
                    border: 1px solid #5c51f34d;
                    margin-bottom: 0;
                }
            }

            .button-wrapper {
                display: flex;
                align-items: center;
                margin-top: 20px;

                .button-install {
                    border-radius: 8px;
                    padding: 10px 16px;
                    background: radial-gradient(103.69% 112% at 51.27% 100%, #4992ff 0%, #7722ff 100%);
                    border: 1px solid #9760ff;
                    color: white;
                    cursor: pointer;
                    transition: transform 0.3s ease, color 0.3s ease;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 130%;
                    vertical-align: middle;

                    svg {
                        animation: infinite rotate 2s linear;
                    }

                    &:hover {
                        color: hsla(0, 0%, 100%, 0.75);
                        transform: scale(0.93);
                    }
                }

                .arrow-wrapper {
                    position: relative;

                    .unibiz-arrow {
                        position: absolute;
                        top: -35px;
                        right: -128px;
                        width: 100px;
                    }
                }
            }
        }

        .col-2 {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;

            .unibiz-wave {
                position: absolute;
                right: 0;
            }

            .mockup-wrapper {
                display: flex;
                justify-content: center;
                position: relative;

                .unibiz-mockup {
                    z-index: 2;
                    max-width: 550px;
                }

                .unibiz-confetti {
                    z-index: 2;
                    position: absolute;
                    top: -10px;
                    bottom: 0;
                    height: 110%;
                }

                .unibiz-wave {
                    z-index: 2;
                    position: absolute;
                    top: -200%;
                    right: -70%;
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .gutenverse-unibiz-notice {
        .content-wrapper {
            .col-2 {
                position: relative;
                width: 100%;
                display: flex;
                justify-content: end;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .gutenverse-unibiz-notice {
        .content-wrapper {
            .col-1 {
                width: 100%;
            }

            .col-2 {
                display: none;
            }
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} 