#gutenverse-dashboard {

    .sizer-element {
        width: 8.33333%;
    }
    
    .not-found {
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        width: 100%;

        &>* {
            margin: 0 auto;
            width: 100%;
        }

        .not-found-title {
            margin-top: 30px;
        }

        .not-found-desc {
            margin-top: 15px;
        }

        .not-found-button {
            background-color: #ffffff;
            border-radius: 50px;
            border: 1px solid #e6e6ef;
            color: #40505d;
            cursor: pointer;
            display: block;
            margin-top: 30px;
            padding: 10px 16px;
            text-align: center;
            text-decoration: none;
            width: fit-content;

            i {
                color: #3c434a;
                margin-right: 5px;
            }
        }
    }

    input[type="text"] {
        border-radius: 4px;
        border: none;
        box-shadow: 0 0 0 transparent;
        color: #40505d;
        font-family: "Roboto";
        font-weight: 400;
        padding: 5px 15px;
        width: 100%;
    }

    .content-header,
    .content-body {
        width: 100%;
    }

    .content-header {
        align-content: start;
        align-items: center;
        display: flex;
        justify-content: space-between;

        .search-box {
            align-content: center;
            border-radius: 3px;
            border: 1px solid var(--gutenverse-dashboard-border);
            display: flex;
            font-size: 12px;
            height: 36px;
            min-width: 400px;
            width: 35%;

            input::placeholder {
                color: #99a2a9;
                font-family: "Heebo";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 21px;
            }
        }

        i {
            color: #99a2a9;
            cursor: pointer;
            font-size: 14px;
            padding: 12px;
        }
    }

    .content-body {
        font-family: "Roboto";
        min-height: 720px;

        &>.ecosystem-wrapper {
            align-items: flex-start;
            display: flex;
            flex-wrap: wrap;
            margin-left: -15px;
            width: calc(100% + 30px);
        }
    }

    .ecosystem-data {
        background: #f9f9ff;
        border-radius: 5px;
        border: 1px solid #e6e6ef;
        margin: 0 15px 30px;
        position: relative;
        width: calc(50% - 32px);

        &.fetching {
            min-height: 200px;
            overflow: hidden;

            &:after {
                animation: loading-skeleton-keyframes-wave 1.6s linear 0.5s infinite;
                background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.08), transparent);
                bottom: 0;
                content: "";
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                transform: translateX(-100%);
                z-index: 1;
            }

            @keyframes loading-skeleton-keyframes-wave {
                0% {
                    transform: translateX(-100%);
                }

                60% {
                    transform: translateX(100%);
                }

                100% {
                    transform: translateX(100%);
                }
            }
        }

        .status {
            background: #8181a5;
            border-radius: 3px;
            color: #ffffff;
            font-size: 12px;
            font-weight: 500;
            left: 50%;
            padding: 5px 10px;
            position: absolute;
            text-transform: uppercase;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .ecosystem-desc {
            padding: 20px;
            position: relative;
        }

        .ecosystem-thumbnail {
            cursor: pointer;
            height: 200px;
            overflow: hidden;
            position: relative;

            img {
                width: 100%;
            }
        }

        .ecosystem-title,
        .ecosystem-title a {
            color: #1c1d21;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            margin: 0;
            text-decoration: none;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .ecosystem-title {
            align-items: center;
            display: inline-flex;
            flex-wrap: wrap;
            gap: 6px;

            .pro-flag {
                background: #ff808b;
                border-radius: 4px;
                color: #fff;
                cursor: pointer;
                font-size: 10px;
                line-height: 2em;
                padding: 0px 7px;
            }

            .tooltip-wrapper {
                align-items: center;
                display: flex;
                position: relative;

                &::after {
                    border-color: #011627 transparent transparent transparent;
                    border-style: solid;
                    border-width: 8px 8px 0px 8px;
                    bottom: 100%;
                    content: "";
                    display: block;
                    height: 0;
                    left: 50%;
                    position: absolute;
                    transform: translateX(-50%);
                    visibility: hidden;
                    width: 0;
                }
            }

            .tooltip-description:hover {
                .tooltip-wrapper::after {
                    visibility: visible;
                }

                .tooltip-description-text {
                    visibility: visible;
                }
            }

            .tooltip-description-text {
                background-color: #011627;
                border-radius: 6px;
                bottom: calc(100% - 20px);
                color: #fff;
                font-size: 12px;
                left: 0;
                line-height: 1.4em;
                margin: 0 20px;
                padding: 15px 18px;
                position: absolute;
                text-align: left;
                visibility: hidden;
                white-space: normal;
                z-index: 1;
            }
        }

        .ecosystem-author {
            color: #99A2A9;
            display: block;
            font-size: 12px;
            margin-top: 3px;
        }

        &.active {
            .ecosystem-button {
                &.activate {
                    background: #ff808b !important;
                }
            }

            .ecosystem-thumbnail {
                a::before {
                    background: rgba(28, 29, 33, 0.8);
                    content: "";
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
        }

        .ecosystem-buttons {
            display: flex;
            margin-top: 15px;
            width: 100%;

            .ecosystem-button:first-child {
                margin-right: 10px;
            }

            .ecosystem-button {
                align-items: center;
                border-radius: 50px;
                color: #ffffff;
                cursor: pointer;
                font-size: 12px;
                font-weight: 400;
                justify-content: center;
                overflow: hidden;
                padding: 8px 12px;
                text-align: center;
                text-decoration: none;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: calc(50% - 5px);

                @keyframes rotation {
                    from {
                        transform: rotate(0deg);
                    }

                    to {
                        transform: rotate(359deg);
                    }
                }

                svg {
                    animation: rotation 2s infinite linear;
                    margin-right: 5px;
                    vertical-align: sub;
                }

                &.activated {
                    background-color: #777777;
                    cursor: text;
                }

                &.activate {
                    background-color: #0caf21;
                }

                &.install {
                    background-color: var(--gutenverse-dashboard-primary);
                }

                &.demo {
                    background-color: #ffffff;
                    border: 1px solid #e6e6ef;
                    color: #40505d;
                }

                &.disabled {
                    background-color: #40505d;
                    color: #ffffff;
                }

                &.manage-plugin {
                    background-color: #eabb46;
                    color: #ffffff;
                }

                &.pro {
                    background: #ff808b;
                    color: #fff;
                }

                &.expire {
                    background-color: #eabb46;
                    color: #fff;
                }
            }
        }
    }

    @media only screen and (max-width: 600px) {
        .ecosystem-header {
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;

            &>div {
                width: 100%;
            }

            .search-box {
                margin-top: 20px;
            }
        }

        .ecosystem-data {
            width: calc(100% - 32px);
        }
    }

    .section-requirement {
        display: flex;
        position: relative;

        svg {
            cursor: pointer;
        }

        &:hover {
            .section-requirement-detail {
                opacity: 1;
                visibility: visible;
            }
        }

        .section-requirement-icon {
            display: flex;
            position: relative;
            z-index: 99;
        }

        .section-requirement-detail {
            background-color: #ffffff;
            border-radius: 6px;
            border: 1px solid var(--gutenverse-dashboard-border);
            bottom: 100%;
            font-size: 12px;
            font-size: 12px;
            left: -45px;
            line-height: 1.4em;
            margin-bottom: 10px;
            margin-top: 4px;
            opacity: 0;
            padding: 15px 18px;
            position: absolute;
            text-align: left;
            visibility: hidden;
            width: 240px;
            z-index: 1;

            &:after,
            &:before {
                border-color: #fff transparent transparent transparent;
                border-style: solid;
                border-width: 7px;
                bottom: -14px;
                content: "";
                display: block;
                height: 0;
                left: 45px;
                position: absolute;
                width: 0;
            }

            &:before {
                border-color: var(--gutenverse-dashboard-border) transparent transparent transparent;
                border-width: 9px;
                bottom: -18px;
                left: 43px;
            }

            p {
                font-size: 13px;
                font-weight: normal;
                margin: 5px 0 15px;
                white-space: normal;
            }

            a {
                color: var(--gutenverse-dashboard-primary);
                font-size: 13px;
                font-weight: normal;
            }
        }
    }

    .plugin-item {
        align-items: stretch;
        background: #F9F9FF;
        border-radius: 5px;
        border: 1px solid var(--gutenverse-dashboard-border);
        display: flex;
        gap: 20px;
        justify-content: space-between;
        margin: 0 11px 22px;
        padding: 24px;
        width: calc(50% - 72px);
        position: relative;
        overflow: hidden;

        .icon-plugin {
            width: 64px;
            height: 64px;
            border-radius: 100px;
        }

        .plugin-title {
            font-family: 'Plus Jakarta Sans';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            margin: 0;

            span {
                font-weight: 800;
            }
        }   
        .ribbon{
            background-color: #FED134;
            position: absolute;
            top: -1px;
            font-weight: bolder;
            left: -36px;
            padding: 20px 50px 5px;
            margin: 0;
            font-size: 13px;
            transform: rotate(-40deg) translate(-9px, -13px);
  
        }
        .plugin-version {
            color: #99A2A9;
            font-family: 'Roboto';
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px;
            margin: 4px 0 0;
        }

        .plugin-description {
            color: #40505D;
            font-family: 'Roboto';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            margin: 8px 0 0;
        }

        .plugin-actions {
            align-content: center;
            align-items: center;
            display: flex;

            .install-action {
                align-items: center;
                background: var(--gutenverse-dashboard-primary);
                border-radius: 50px;
                border: 1px solid var(--gutenverse-dashboard-primary);
                color: white;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                gap: 6px;
                justify-content: center;
                padding: 8px 14px;
                width: 100px;

                &.installed {
                    border: 1px solid #99A2A9;
                    background: #99A2A9;
                    color: white;
                    cursor: default;
                }

                &.update {
                    background: white;
                    color: var(--gutenverse-dashboard-primary);
                }
            }
        }
    }
}

body.gutenverse_page_gutenverse-ecosystem-list .notice:not(.gutenverse-notice):not(.ecosystem-upgrade-notice) {
    display: none;
}