.form-tab-header {
  display: flex;
  gap: 10px;
  padding: 20px;

  .header-item {
    border-radius: 5px;
    border: 1px solid #e6e6ef;
    color: #40505d;
    cursor: pointer;
    flex-grow: 1;
    font-size: 12px;
    line-height: 40px;
    text-align: center;

    &.active {
      background: #e7ecfd;
      color: var(--gutenverse-dashboard-primary);
    }
  }
}

.settings-tab-body {
  padding: 0 25px 50px;

  .control-wrapper {
    border-bottom: 1px solid #e6e6ef;
    padding: 30px 0;
    text-align: left;

    .control-title {
      display: flex;
      font-size: 14px;
      font-weight: 500;
      justify-content: space-between;
      margin-bottom: 8px;
      position: relative;
    }

    .control-description {
      color: #40505d;
      display: block;
      font-size: 12px;
      margin-top: 5px;
    }

    .control-error {
      color: red;
      display: block;
      font-size: 12px;
      margin-top: 5px;
      background-color: rgb(243, 162, 162);
    }

    &.control-text {
      input {
        border-radius: 3px;
        border: 1px solid #e6e6ef;
        color: #666;
        font-size: 13px;
        line-height: 34px;
        width: 100%;
      }
    }

    &.control-textarea {
      textarea {
        border-radius: 3px;
        border: 1px solid #e6e6ef;
        font-size: 13px;
        height: 75px;
        width: 100%;
      }
    }

    &.control-checkbox {
      input[type="checkbox"] {
        display: none;
      }

      .switch {
        background: #e4e9f8;
        border-radius: 24px;
        box-shadow: inset 0 2px 3px rgba($input-switch-shadow, 0.1);
        cursor: pointer;
        display: inline-block;
        height: 24px;
        position: absolute;
        right: -5px;
        top: -1px;
        transform: translateX(-50%);
        transition: 0.25s;
        user-select: none;
        vertical-align: middle;
        width: 51px;
      }

      input:checked+.switch {
        background: $input-switch-active;
      }

      .switch::before {
        content: "OFF";
        font-size: 9px;
        line-height: 1;
        opacity: 0.6;
        padding-top: 1px;
        position: absolute;
        right: 7px;
        top: 50%;
        transform: translate3d(0, -50%, 0);
      }

      input:checked+.switch::before {
        color: #fff;
        content: "ON";
        left: 11px;
        right: auto;
      }

      .switch::after {
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 1px 3px rgba($input-switch-shadow, 0.4);
        content: "";
        display: block;
        height: 20px;
        left: 2px;
        position: absolute;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        transition: all 350ms cubic-bezier(0, 0.95, 0.38, 0.98);
        width: 20px;
      }

      input:checked+.switch::after {
        transform: translate3d(27px, -50%, 0);
      }
    }

    &.control-search-select {
      .control-title {
        flex-direction: column;
      }

      input {
        border: 1px solid #e6e6ef;
        border-radius: 3px;
        width: 100%;
        font-size: 13px;
        line-height: 34px;
        color: #666;
      }

      .async-select__control {
        border: 1px solid #e6e6ef;
        border-radius: 3px;
      }

      .select-search {
        margin-top: 10px;
      }

      .async-select__menu-list {
        height: 150px;
      }
    }

    &.control-image-radio {
      .control-body {
        display: flex;
        flex-wrap: wrap;

        label {
          width: var(--gvnews-dashboard-img-radio-row, auto);
          border: 2px solid #b3b3b3;
          margin: 2px;
          border-radius: 2px;
          line-height: 0;

          &.active {
            border: 2px solid #3b57f7;
          }

          img {
            width: var(--gvnews-dashboard-img-radio-image-width, unset);
            height: auto;
          }
        }
      }

      [type="radio"] {
        position: absolute;
        width: 0;
        height: 0;
        display: none;

        +svg {
          cursor: pointer;
          border: 1px solid #c1c1c1;
          padding: 5px;
          margin: 6px 3px;
          display: block;
          border-radius: 2px;
          width: 70px;
          height: 40px;
        }
      }
    }

    &.control-image {
      .empty-wrapper {
        padding: 21px 9px;
        max-height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        border: 1px solid var(--stroke-input, #D0D5DD);
        transition: border .3s ease;
        cursor: pointer;

        .gutenverse-icon-svg {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          border-radius: 28px;
          border: 6px solid #F9FAFB;
          background: #F2F4F7;
          padding: 10px;
          transition: all .3s ease;

          svg {
            width: auto;
            height: 1em;

            path {
              stroke: currentColor;
            }
          }
        }

        &:hover {
          border: solid 1px var(--gutenverse-dashboard-primary);

          .gutenverse-icon-svg {
            border-color: color-mix(in srgb, var(--gutenverse-dashboard-primary) 10%, white);
            background: color-mix(in srgb, var(--gutenverse-dashboard-primary) 30%, white);
            color: var(--gutenverse-dashboard-primary);
          }
        }

        .upload-text {
          margin-top: 12px;
          font-size: 14px;

          strong {
            color: var(--gutenverse-dashboard-primary);
          }
        }

        .sugested-text {
          font-size: 12px;
        }
      }

      .filled-wrapper {
        width: 100%;
        max-height: 150px;
        min-height: 150px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border-radius: 10px;
        display: flex;
        align-items: end;
        overflow: hidden;

        .gutenverse-icon-svg {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          border-radius: 28px;
          padding: 8px;
          -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
          cursor: pointer;
          background: rgba(0, 0, 0, 0.4);
          position: absolute;
          right: 10px;
          top: 10px;
          border-radius: 100px;
          overflow: hidden;
          aspect-ratio: 1 / 1;

          svg {
            width: auto;
            height: 1em;
          }
        }

        .choose-image {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 7px;
          width: 100%;
          background: rgba(0, 0, 0, 0.4);
          -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
          cursor: pointer;
          overflow: hidden;

          span {
            color: white;
          }
        }
      }
    }
  }

  .form-pro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 90px auto;

    h2,
    span {
      padding: 0 50px;
      text-align: center;
      width: 100%;
    }

    .pro-button {
      background: var(--gutenverse-dashboard-primary);
      border-radius: 50px;
      cursor: pointer;
      margin-top: 30px;

      a {
        align-items: center;
        color: #fff;
        display: flex;
        font-family: "Poppins", serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        padding: 12px 28px;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

.form-setting {
  border-radius: 5px;
  border: 1px solid #e6e6ef;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 40px;
  padding: 10px;

  &>div {
    color: #40505d;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    width: 50%;

    &.active {
      background: #e7ecfd;
      border-radius: 3px;
      color: var(--gutenverse-dashboard-primary);
    }
  }
}

@media (max-width: 765px) {
  .settings-tab-body {
    .control-wrapper {
      &.control-image-radio {
        .control-body {

          label {
            width: calc(50% - 10px);

            img {
              width: 100%;
            }
          }
        }

      }
    }
  }
}