@import "settings-control.scss";

#gutenverse-dashboard {
    .content-wrapper.settings {
        padding: 0;
        background-color: none;

        .dashboard-content {
            background-color: #f0f0f1;

            .content-body {
                padding: 0;
            }
        }
    }

    .input-file-wrapper {
        display: flex;
        position: relative;

        .input-file-text {
            width: 100%;
            border: solid 1px #e3e4e6;
            border-radius: 3px;
            margin: 0px;
        }

        .input-file-button {
            width: 100px;
            height: 30px;
            color: black;
            background-color: #F2F4F7;
            border: solid 1px #E3E4E6;
            border-radius: 3px;
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 8px;
            margin-right: 8px;
        }

        .input-file-button:hover {
            opacity: 80%;
        }
    }

    .repeater-body .control-wrapper.control-text input[type=text] {
        border: 1px solid #BDBEBF
    }

    .repeater-body .control-wrapper {
        border-bottom: none;
        padding: 12px 0px;
    }

    .repeater-empty .repeater-empty-wrapper {

        .empty-repeater-img {
            align-items: center;
        }

        h2 {
            font-family: "Roboto", serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: center;
            display: block;
        }

        h3 {
            font-family: "Roboto", serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: center;
        }
    }

}

.dashboard-content {

    .setting-header {
        align-items: center;
        border-bottom: 1px solid var(--gutenverse-dashboard-border);
        display: flex;
        justify-content: space-between;
        min-height: 90px;
        padding: 0 40px;
    }

    .setting-tabs {
        display: flex;
        gap: 22px;

        .actions {
            bottom: 30px;
            display: flex;
            justify-content: flex-end;
            position: absolute;
            right: 30px;
        }

        .settings-tab-header {
            flex: 0 0;
            background-color: #fff;
            padding: 24px;
            min-width: 257px;
            box-shadow: 0px 10px 50px 0px #1A005208;
            border-radius: 5px;

            .tab-items {
                font-family: "Roboto";
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                color: #011627;


                .tab-label {}

                .tab-item {
                    text-decoration: none;
                    cursor: pointer;
                    color: #011627;

                    &:focus {
                        box-shadow: none;
                    }

                    &.active {
                        color: var(--gutenverse-dashboard-primary);
                    }

                    &.locked {
                        border-color: #e32d64;
                    }
                }

                .pro-label {
                    // background-color: #e32d64;
                    // color: #fff;
                    // font-size: 9px;
                    // left: -33px;
                    // margin: 0;
                    // padding: 10px 49px 3px;
                    // position: absolute;
                    // top: -1px;
                    // transform: rotate(-40deg) translate(-9px, -13px);
                }
            }
        }

        .settings-tab-body {
            background: #fff;
            border-radius: 5px;
            border-radius: 5px;
            border: 1px solid var(--gutenverse-dashboard-border);
            min-height: 600px;
            padding: 30px 30px 100px;
            position: relative;
            width: 100%;

            .frontend-setting-dashboard {
                .control-body {
                    display: flex;
                    align-items: center;
                }
            }

            span {
                color: #40505d;
            }

            .control-wrapper {
                &.control-number {
                    >label {
                        align-items: center;
                        display: flex;
                        justify-content: space-between;

                        >input {
                            border-radius: 3px;
                            border: 1px solid var(--gutenverse-dashboard-border);
                            color: #3e475b;
                            font-size: 13px;
                            max-width: 80px;
                            min-height: 34px;
                            width: 100%;
                        }
                    }
                }
            }

            .setting-box {
                position: relative;
                display: flex;
                align-items: center;
                padding: 24px 86px 24px 24px;
                background: #f9f9ff;
                border: 1px solid #e3e4e6;
                border-radius: 5px;

                .icon {
                    svg {
                        color: #fff;
                        height: 28px;
                    }

                    &-wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 64px;
                        height: 64px;
                        background: #3b57f7;
                        border-radius: 50%;
                    }
                }

                .info {
                    margin-left: 24px;

                    >* {
                        margin: 0;
                    }

                    h4 {
                        font-family: "Plus Jakarta Sans", serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 25px;
                        color: #011627;
                        margin-bottom: 8px;
                    }

                    p {
                        font-family: "Roboto", serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 140%;
                        color: #40505d;
                    }
                }

                .action {
                    position: absolute;
                    top: 50%;
                    right: 24px;
                    transform: translateY(-50%);
                    cursor: pointer;

                    .icon {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 38px;
                        height: 38px;
                        border-radius: 50%;
                        border: 1px solid #3A9551;

                        svg {
                            height: 11px;
                        }

                        &.check {
                            border-color: #3A9551;

                            svg {
                                color: #3A9551;
                            }
                        }

                        &.download {
                            border-color: #3b57f7;

                            svg {
                                color: #3b57f7;
                            }

                            &.downloading {
                                border-color: transparent;

                                &::before {
                                    position: absolute;
                                    content: "";
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    left: 0;
                                    border: solid 1px transparent;
                                    border-top-color: #3b57f7;
                                    border-radius: 50%;
                                    animation: spin 2s linear infinite;
                                }
                            }
                        }
                    }
                }
            }

            .gutenverse-button {
                border-radius: 5px !important;
            }
        }
    }
}

.repeater-body .gutenverse-control-wrapper.gutenverse-control-alert .control-body {
    display: flex;
    align-items: center;
    font-style: italic;
}

.form-header-repeater {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-family: "Roboto", serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
    }

    .custom-font-add-button {
        cursor: pointer;
        border: 1px solid #3B57F7;
        color: #3B57F7;
        background-color: white;
        border-radius: 5px;
        height: 34px;
        width: 136px;
    }

    .custom-font-add-button:hover {
        background: #3B57F7;
        border: 1px solid #3B57F7;
        color: white;
    }
}

.repeater-item .repeater-title {
    .custom-font-family {
        font-family: "Roboto", serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        padding-right: 10px;
    }

    .custom-font-style {
        border: 1px solid #E3E4E6;
        background-color: white;
        padding: 5px 5px;
        font-family: "Roboto", serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        border-radius: 3px;
        margin-right: 10px;

    }
}

.gutenverse-control-wrapper.gutenverse-control-repeater {
    padding-top: 24px;
}


body.gutenverse_page_gutenverse-settings .notice:not(.gutenverse-notice):not(.theme-upgrade-notice) {
    display: none;
}

@media (max-width: 765px) {
    #gutenverse-dashboard {
        .content-wrapper {
            .dashboard-content {
                .content-body {
                    .setting-tabs {
                        flex-wrap: wrap;

                        .settings-tab-header {
                            flex: 1;

                            .tab-items {
                                display: flex;
                                flex-wrap: wrap;
                                gap: 15px;
                                margin-bottom: 20px;

                                .tab-item {
                                    width: calc(33.333333% - 10px);
                                    box-sizing: border-box;
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .settings-tab-body {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}