#gutenverse-dashboard {

    #gutenverse-upgrade-notice {
        width: 100%;
    }

    .tabs {
        align-items: center;
        background: white;
        border-radius: 0 0 5px 5px;
        display: flex;
        justify-content: center;
        line-height: 1em;
        margin: 20px 0;

        >a:not(:last-child) {
            margin-right: 38px;
        }

        .tab {
            border-bottom: 2px solid transparent;
            color: #011627;
            cursor: pointer;
            display: inline-block;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            padding: 20px 0px;
            text-decoration: none;

            &:focus {
                box-shadow: none;
            }

            &:hover,
            &.active {
                color: var(--gutenverse-dashboard-primary);
            }

            &.active {
                border-bottom-color: var(--gutenverse-dashboard-primary);
            }
        }
    }

    .gutenverse-200 {
        .inner-content {
            padding: 30px;

            .top-content {
                display: flex;
                align-items: center;
                border-radius: 15px;
                background: #F2F2F2;
                padding: 18px;

                .badge {
                    border-radius: 6px;
                    background: linear-gradient(34deg, #F045FF 1%, #4569FF 63.85%, #68E4F4 128.88%);
                    color: white;
                    padding: 5px 10px;
                    font-family: Roboto;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 140%;
                }

                h5 {
                    color: #011627;
                    font-family: Roboto;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 140%;
                    margin: 0 0 0 12px;
                }

                p {
                    color: #3C434A;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 29px;
                    margin: 0 0 0 15px;
                }
            }

            h4 {
                display: flex;
                align-items: center;
                color: #011627;
                font-family: Roboto;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                gap: 15px;
                line-height: 25.5px;
                text-transform: capitalize;
            }

            p {
                color: #3C434A;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
            }

            .detail-ecosystem {
                display: flex;
                border-radius: 20px;
                background: linear-gradient(262deg, #65FBF2 -3.53%, #448BFF 66.97%, #0851CA 105.41%);
                overflow: hidden;
            }

            .features-highlight {
                display: flex;
                border-radius: 20px;
                overflow: hidden;
                min-height: 286px;
                box-sizing: border-box;

                & > div {
                    padding: 40px;
                }

                &.orange {
                    background: linear-gradient(258deg, #FFDB7E -2.27%, #FF823D 43.66%, #FD505D 95.18%);
                }

                &.blue {
                    background: linear-gradient(262deg, #65FBF2 -3.53%, #448BFF 66.97%, #0851CA 105.41%);
                }

                &.green {
                    background: linear-gradient(265deg, #6AFFB3 -8.66%, #15ADF7 73.99%), linear-gradient(258deg, #FFDB7E -2.27%, #FF823D 43.66%, #FD505D 95.18%);
                }

                h5 {
                    color: white;
                    font-family: Roboto;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 25.5px;
                    margin: 0;    
                }
                
                p {
                    color: rgba(255, 255, 255, 0.60);
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    margin: 12px 0 0;
                }

                img {
                    margin: 0;
                    width: 60%;
                    object-fit: contain;

                    &.library {
                         width: 50%;
                    }
                }
            }

            .features-3-col {
                display: flex;
                gap: 30px;

                & > div {
                    width: 33%;

                    & > img {
                        border-radius: 20px;
                    }

                    .img-text {
                        margin-top: 30px;
                        height: 258px;
                        box-sizing: border-box;
                        padding: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 20px;
                        background: linear-gradient(250deg, #6AFFB3 -9.9%, #15ADF7 98.05%), linear-gradient(228deg, #6B52FF -3.52%, #CFA6FF 86.94%);

                        p {
                            color: rgba(255, 255, 255, 0.60);
                            font-family: Inter;
                            font-size: 30px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 40px;
                            margin: 0;
                            text-align: center;

                            strong {
                                color: #FFF;
                                font-weight: 700;
                            }
                        }
                    }

                    h5 {
                        color: #011627;
                        font-family: Roboto;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 25px;
                        margin: 20px 0 0;
                    }

                    p {
                        color: #3C434A;
                        font-family: Roboto;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        margin: 10px 0 0;
                    }
                }
            }

            .features-detail {
                display: flex;
                border-radius: 20px;
                overflow: hidden;
                margin: 30px 0;
                gap: 70px;

                &.reverse {
                    flex-direction: row-reverse;
                }

                & > div {
                    padding: 50px 0;
                    display: flex;
                    flex-wrap: wrap;
                }

                h5 {
                    font-family: Roboto;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 25.5px;
                    margin: 0;    
                }
                
                p {
                    color: #3C434A;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    margin: 12px 0 0;
                }

                img {
                    border-radius: 20px;
                    margin: 0;
                    width: 50%;
                }
            }
        }
    }

    .upgrade-notice-head {
        height: 200px;

        >div {
            background-color: #05131f;
            background-position: center;
            background-size: cover;
            height: 100%;
            margin: 0 auto;
            max-width: 1000px;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                content: "";
                height: 100%;
                position: absolute;
                width: 100%;
            }
        }

        .upgrade-notice-title {
            color: white;
            font-size: 32px;
            font-weight: 600;
            line-height: 140%;
        }
    }

    .upgrade-notice-body {
        font-family: "Roboto", sans-serif;
        margin-bottom: 140px;
        position: relative;

        &::before {
            border-bottom: 1px solid #e3e4e6;
            content: "";
            height: calc(100% + 60px);
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
        }

        >div {
            margin: 0 auto;
            max-width: 1000px;
            position: relative;
            z-index: 2;
        }

        h2 {
            color: #011627;
            font-size: 28px;
            font-weight: 600;
            line-height: 140%;
        }

        p {
            color: #3c434a;
            font-size: 18px;
            font-weight: 400;
            line-height: 29px;
        }

        .update-title {
            margin: 40px 0 0;
        }

        .update-desc {
            margin: 15px 0 0;
        }

        ol li {
            color: #011627;
            font-size: 20px;
            font-weight: 600;
            line-height: 26px;
            margin: 40px 0 0;
        }

        ol li+[class^="upgrade-notice-figure"] {
            margin-top: 1em;
        }

        ol p {
            font-size: 16px;
            margin: 20px 0 0;
        }

        ol .update-multi-images {
            display: flex;
            justify-content: space-between;

            img {
                width: calc(50% - 15px);
            }
        }

        img {
            margin: 30px 0 0;
            width: 100%;
        }

        ol img+li {
            margin-top: 40px 0 0;
        }

        ol [class^="upgrade-notice-figure"]+li {
            margin-top: 1em;
        }

        figure {
            margin: 0;
        }

        figcaption {
            color: #011627;
            font-size: 12px;
            font-style: italic;
            line-height: 17px;
            margin-top: 20px;
            text-align: center;
        }

        [class^="upgrade-notice-figure"] {
            display: flex;
            gap: 20px;
        }

        .card-item {
            &:not(:first-child) {
                padding-top: 80px;
            }

            &:not(:last-child) {
                border-bottom: 1px solid #e3e4e6;
                padding-bottom: 80px;
            }
        }

        .card-container {
            &.flex-card {
                align-items: center;
                display: flex;
                gap: 65px;

                img {
                    width: 50%;
                }
            }

            &:not(.flex-card) {
                p {
                    margin-bottom: 30px;
                }
            }

            p,
            h3 {
                margin: 0;
            }

            h3 {
                color: #011627;
                font-family: "Roboto", sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 26px;
                margin-bottom: 20px;
                text-transform: capitalize;
            }

            p {
                color: #3c434a;
                font-family: "Roboto", sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
            }
        }
    }

    .upgrade-notice-footer {
        margin-bottom: 40px;

        >div {
            margin: 0 auto;
            max-width: 1000px;
        }

        h2 {
            margin: 0;
        }

        ul {
            list-style: disc;
            padding-left: 34px;
            position: relative;

            &::before {
                border-left: 2px solid #e3e4e6;
                content: "";
                left: 0;
                position: absolute;
                top: 0;
                width: 2px;
            }

            &.loaded {
                &::before {
                    height: calc(100% - (5px + (16px / 2) + 2px));
                }
            }

            &:not(.loaded) {
                &::before {
                    height: calc(100% - (5px + (16px / 2) + 42px));
                }

                &::after {
                    border-left: 2px dotted #e3e4e6;
                    bottom: 19px;
                    content: "";
                    height: 33px;
                    left: 0;
                    position: absolute;
                    width: 2px;
                }
            }

            li {
                align-items: center;
                display: flex;
                gap: 20px;
                padding: 5px 0;
                position: relative;

                &::before {
                    border-bottom: 2px solid #e3e4e6;
                    content: "";
                    left: -34px;
                    position: absolute;
                    width: 18px;
                }

                &::after {
                    background-color: #bdbebf;
                    border-radius: 6px;
                    content: "";
                    height: 6px;
                    left: -16px;
                    position: absolute;
                    width: 6px;
                }

                &.load {
                    a {
                        color: #bdbebf;
                    }

                    &::before {
                        border-bottom-style: dotted;
                    }
                }

                a {
                    color: var(--gutenverse-dashboard-primary);
                    cursor: pointer;
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 19px;
                    text-decoration: none;
                    text-transform: capitalize;

                    &:focus {
                        box-shadow: none;
                    }
                }
            }
        }

        .buttons {
            display: flex;
            gap: 16px;

            button {
                background: var(--gutenverse-dashboard-primary);
                border-radius: 4px;
                border: 1px solid var(--gutenverse-dashboard-primary);
                color: white;
                font-family: "Roboto", sans-serif;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: 15px;
                padding: 8px 14px;
                text-transform: uppercase;

                &:focus {
                    box-shadow: none;
                }

                &.disable {
                    background: transparent;
                    border: 1px solid #e3e4e6;
                    color: #99a2a9;
                }

                &:not(.disable) {
                    cursor: pointer;
                }
            }
        }
    }
}