.guten-postblock {
    .guten-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .guten-edit-post {
        position: absolute;
        top: 0;
        z-index: 5;
        color: var(--guten-txt-alt-color, #ffffff);
        padding: 4px 10px;
        font-size: 12px;
        line-height: 1.5em;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        visibility: hidden;
        @include transform(false, translate3d(0, -15px, 0));
        @include transition(false, false, .25s ease);
        i {
            margin-right: 2px;
            opacity: 0.6;
        }
    }
    .guten-post-category {
        font-size: 0.75rem;
        font-weight: bold;
        letter-spacing: 0.04em;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        display: inline-block;
        a {
            color: var(--guten-txt-a-color);
        }
    }
    .guten-post-title {
        font-size: 1rem;
        line-height: 1.3;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;

        a {
            color: var(--guten-txt-h-color, #181D23);
        }
    }
    .guten-post-excerpt {
        font-size: 0.875rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;

        p:last-child {
            margin-bottom: 0px;
        }
    }
    .guten-post-meta {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        color: var(--guten-txt-m-color, #96989B);
        font-size: 0.75rem;
        a {
            color: var(--guten-txt-h-color, #181D23);
            text-transform: uppercase;
        }
        >div:not(:only-child):not(:last-child):after {
            content: '\2022';
            margin: 0 0.5rem;
        }
    }
    .guten-post-meta-bottom {
        @include displayflex();
        @include alignitemscenter();
        font-size: .75rem;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 1.5rem;
        position: relative;
        
        .guten-meta-comment {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    .guten-readmore {
        display: flex;
        align-items: center;
        color: var(--guten-btn-txt-color, #ffffff);
        text-align: center;
        vertical-align: middle;
        background-color: var(--guten-btn-bg-color, #0058E6);
        border: 1px solid transparent;
        padding: .5rem .875rem;
        line-height: 1.5;
        border-radius: 3px;
        @include userselect('none');
        @include transition(false, false, .2s ease);
    }
    .guten-meta-comment a {
        color: var(--guten-txt-h-color, #181D23);
    }
    .guten-posts {
        display: grid;
        grid-column-gap: 40px;
    }
    .guten-post {
        margin-bottom: 2rem;
        &:hover .guten-edit-post {
            @include transform(false, translate3d(0, 0, 0));
            opacity: 1;
            visibility: visible;
        }

        .icon-position-before i {
            margin-right: 5px;
        }

        .icon-position-after i {
            margin-left: 5px;
        }
    }
    .guten-thumb {
        position: relative;
        overflow: hidden;
        .thumbnail-container {
            display: block;
            position: relative;
            overflow: hidden;
            z-index: 0;
            background: var(--guten-border-color, #eaeaeb);
            background-position: 50%;
            background-size: cover;
            padding-bottom: 50%;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                color: var(--guten-txt-alt-color, #FAFCFF);
                z-index: -1;
            }
        }
    }
    &.postblock-type-1 {
        .guten-post {
            @include displayflex();
            @include alignitemscenter();
        }
        .guten-thumb {
            width: 50%;
        }
        .guten-postblock-content {
            -webkit-box-flex: 1 50%;
            -ms-flex: 1 1 50%;
            flex: 1 1 50%;
            padding-left: 2rem;
        }
        &.break-point-tablet {
            @media screen and (max-width: 780px) {
                .guten-post {
                    display: block;
                    -webkit-box-align: stretch;
                    -ms-flex-align: stretch;
                    align-items: stretch;
                }
                .guten-thumb {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 auto;
                    flex: 1 0 auto;
                    max-width: 100%;
                }
            }
        }
        &.break-point-mobile {
            @media screen and (max-width: 425px) {
                .guten-post {
                    display: block;
                    -webkit-box-align: stretch;
                    -ms-flex-align: stretch;
                    align-items: stretch;
                }
                .guten-thumb {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 auto;
                    flex: 1 0 auto;
                    max-width: 100%;
                }
            }
        }
    }
    &.postblock-type-2 {
        .guten-post-category {
            a {
                color: var(--guten-txt-a-color);
            }
        }
        .guten-postblock-content {
            position: relative;
        }
    }
    &.postblock-type-3 {
        .guten-thumb {
            margin-bottom: 1.5rem;
        }
        .guten-post-category {
            position: absolute;
            bottom: 0;
            line-height: 1;
            background: var(--guten-bg-color, #fff);
            padding: 1rem 1.5rem 0;
            margin-bottom: 0;
            max-width: 100%;
            &.position-left {
                left: 0;
                text-align: left;
            }
            &.position-center {
                left: 50%;
                @include transform(false, translateX(-50%));
                text-align: center;
            }
            &.position-right {
                right: 0;
                text-align: right;
            }
        }
    }
    &.postblock-type-4 {
        .guten-post {
            @include displayflex();
        }
        .guten-thumb {
            -webkit-box-flex: 1;
            -ms-flex: 1 0 64%;
            flex: 1 0 64%;
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
        }
        .guten-postblock-content {
            -webkit-box-flex: 1;
            -ms-flex: 4 1;
            flex: 4 1;
            -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
            order: 0;
            padding-right: 2rem;
        }
        .guten-post-title {
            position: relative;
            z-index: 1;
            a {
                line-height: inherit;
                display: inline;
                padding: 2px 2px 2px 0;
                white-space: pre-wrap;
                -webkit-box-decoration-break: clone;
                box-decoration-break: clone;
            }
        }
        &.break-point-tablet {
            @media screen and (max-width: 780px) {
                .guten-post {
                    display: block;
                }
                .guten-thumb {
                    -webkit-box-ordinal-group: 1;
                    -ms-flex-order: 0;
                    order: 0;
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 auto;
                    flex: 1 0 auto;
                    max-width: 100%;
                }
            }
        }
        &.break-point-mobile {
            @media screen and (max-width: 425px) {
                .guten-post {
                    display: block;
                }
                .guten-thumb {
                    -webkit-box-ordinal-group: 1;
                    -ms-flex-order: 0;
                    order: 0;
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 auto;
                    flex: 1 0 auto;
                    max-width: 100%;
                }
            }
        }
    }
    &.postblock-type-5 {
        .guten-post-category {
            a {
                color: var(--guten-txt-a-color);
            }
        }
        .guten-post {
            position: relative;
            overflow: hidden;
        }
        .guten-post-category {
            margin-top: 0;
            margin-bottom: 0;
        }
        .guten-postblock-content {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 30px;
        }

        .guten-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #000000;
            top: 0;
            left: 0;
            opacity: 0.3;
        }
    }

    .guten-block-pagination {
        margin: 0 0 30px 0;
        text-align: center;
        .guten-block-loadmore {
            display: inline-flex;
            justify-content: center;
            cursor: pointer;
            border: 1px solid var(--guten-border-color, #eaeaeb);
            @include boxshadow(0 2px 4px rgba(0, 0, 0, 0.08));
            padding: 0.625rem 0.875rem;
            font-size: 0.875rem;
            line-height: 1.5;
            border-radius: 3px;
            @include transition(false, false, .25s ease);
            color: var(--guten-txt-color);
            align-items: center;

            span {
                display: block;
            }

            a {
                display: inline-block;
                color: var(--guten-txt-color);
            }
            i {
                padding-top: 4px;
            }
        }
    }
}