.guten-social-icon {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    gap: 12px;
    transition: all 0.3s;

    i {
      font-size: 22px;
      width: 1em;
      height: 1em;
      text-align: center;
    }

    svg {
      font-size: 22px;
    }

    span {
      font-size: 16px;
    }
  }

  .gutenverse-icon-svg {
    display: none;
    min-width: 1em;

    svg {
      height: 1em;
      min-width: 1em;
      width: fit-content;
    }
  }

  &.svg {
    .gutenverse-icon-svg {
      display: flex;
    }

    i {
      display: none;
    }
  }
}