build
node_modules
framework/assets/js
framework/assets/css
framework/assets/dependencies
framework/lib/dependencies
framework/blocks
framework/block
framework/languages
package-lock.json
pnpm-lock.yaml