.wp-block.guten-element.guten-wrap-helper {
    margin-left: inherit;
    margin-right: inherit;

    max-width: 100% !important;
    box-sizing: border-box;

    &.inline, &.inline-block {
        width: auto !important;    
    }

    .block-editor-inner-blocks {
        width: 100%;
    }
}