.wp-block.guten-element.guten-wrap-helper {
    margin-left: inherit;
    margin-right: inherit;
    box-sizing: border-box;

    &.inline, &.inline-block {
        width: auto !important;    
    }

    .block-editor-inner-blocks {
        width: 100%;
    }
}

.guten-inner-wrap .block-editor-inner-blocks .block-editor-block-list__layout {
    align-content: flex-start;
    align-items: flex-start;
    display: flex !important;
    flex-wrap: wrap;
    .block-list-appender {
        width: 100%;
    }
}