.guten-wrap-helper {
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transition: all .6s;
        border-radius: inherit;
    }
}

.guten-inner-wrap {
    position: relative;
    align-content: flex-start;
    align-items: flex-start;
    display: flex !important;
    flex-wrap: wrap;
}

div.guten-wrap-helper.guten-element {

    &.inline, &.inline-block {
        width: auto !important;    
    }

    .block-editor-inner-blocks {
        width: auto;
    }

    .guten-inner-wrap .block-editor-inner-blocks .block-editor-block-list__layout .section-wrapper {
        width: 100%;
    }
}
