@import "variable";

@mixin centering-element {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin input-slider-track() {
  background: darken($color-gray-100, 4%);
  border-radius: 5px;
}

@mixin input-slider-thumb() {
  background: $color-blue;
  box-shadow: 0 1px 3px rgba($input-switch-shadow, .4);
}

@mixin icon-remove() {
  opacity: 0;
  position: absolute;
  right: 5px;
  top: 5px;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  width: 21px;
  line-height: 21px;
  text-align: center;
  transition: all 0.3s ease 0s;
  z-index: 999;
  border-radius: 100%;

  svg {
    width: 12px;
    height: 10px;
  }
}