/** Gutenverse Panel **/
.block-editor-block-inspector {

    &[data-gutenverse-tab='style'],
    &[data-gutenverse-tab='pro'] {
        .block-editor-block-inspector__advanced {
            display: none;
        }
    }
}

.gutenverse-tab-list {
    align-items: stretch;
    display: flex;
    flex-direction: row;

    .gutenverse-tab-item {
        background: #F9F9F9;
        border-radius: 0;
        box-shadow: none;
        cursor: pointer;
        font-weight: 500;
        height: 48px;
        margin-left: 0;
        padding: 3px 16px;
        position: relative;
        justify-content: center;
        min-width: 36px;
        padding: 6px;
        flex: 1 1 0px;
        align-items: center;
        display: inline-flex;
        border: 1px solid #E3E4E6;
        border-left: none;

        &.active {
            background: #fff;
            border-bottom: none;

            svg {
                fill: #3B57F7;
            }

            &:after {
                background: #3B57F7;
                border-radius: 0;
                top: -1px;
                content: "";
                left: 0;
                pointer-events: none;
                position: absolute;
                right: 0;
                transition: all .1s linear;
                height: 2.5px;
                outline: 2px solid transparent;
            }
        }
    }
}

.gutenverse-panel-pro {
    padding: 24px 15px;

    .banner-image {
        cursor: pointer;
        width: 100%;
    }
}

.gutenverse-panel {
    &.is-opened {
        >h2 {
            position: sticky;
            top: 46px;
            z-index: 9999;
            background: #fff;
            margin: -16px -16px 12px !important;
            border-bottom: 1px solid #fff !important;

            &:hover {
                border-bottom: 1px solid #E3E4E6 !important;
            }
        }
    }

    >h2 {
        >button {
            box-shadow: none !important;
        }

        &:hover {
            background: #F9F9F9 !important;
        }
    }

    &.pro {
        >h2 {
            >button {
                &:after {
                    content: "PRO";
                    background: #FFDBDE;
                    border: 0.3px solid #C1313F;
                    border-radius: 2px;
                    font-size: 8px;
                    color: #C1313F;
                    padding: 4px 6px;
                    border-radius: 3px;
                    margin-left: 6px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}
.hover-child-style{
    background-color: #E6EAEF !important;
    border-radius: inherit;
}

.gutenverse-control-wrapper.gutenverse-control-integration-repeater {
    position: relative;

    .repeater-header {
        align-items: center;
        background-color: rgba(231, 236, 253, 1);

        .control-title {
            display: none;
        }
    }

    .repeater-remove {
        width: 20px;
        height: 20px;
        margin: 0;
        margin-left: 10px !important;
        margin-right: 0px !important;

        svg {
            stroke: rgba(64, 80, 93, 1);
        }
    }

    .repeater-expand {
        margin-right: 10px;
    }

    .control-add {
        position: absolute;
        top: 8px;
        right: 0;

        button {
            padding: 0px 8px;
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            color: #1c1d21;
            background: #f5f7fe;
            border: 1px solid #dddddd;
            border-radius: 2px;
            height: 26px;

            &:hover,
            &:focus {
                color: #1c1d21;
                background: #f5f7fe;
                border: 1px solid #dddddd;
                outline: 0;
                box-shadow: none;
            }

            svg {
                width: 10px;
                height: 10px;
                padding: 2px;
                margin-right: 4px;
                color: #ffffff;
                background-color: #5e81f4;
                border-radius: 50%;
            }
        }
    }

    .gutenverse-control-select {
        margin: 0;

        .control-body {
            margin: 0;
            position: relative;

            &.has-pro-badge {
                overflow: hidden;
                border-radius: 3px;

                .gutenverse-integration-pro-badge {
                    align-items: center;
                    background: rgba(227, 45, 100, 1);
                    border: 1px solid rgba(227, 45, 100, 1);
                    color: #fff;
                    display: inline-flex;
                    font-family: "Roboto", sans-serif;
                    font-size: 8px;
                    font-weight: 700;
                    letter-spacing: .08em;
                    line-height: 1;
                    padding: 14px 20px 3px 26px;
                    pointer-events: none;
                    position: absolute;
                    left: -30px;
                    text-transform: uppercase;
                    top: -3px;
                    transform: rotate(-55deg);
                    width: -moz-fit-content!important;
                    width: fit-content !important;
                    z-index: 1;
                }

                .gutenverse-integration-select__control {
                    .gutenverse-integration-select__value-container {
                        .gutenverse-integration-select__single-value {
                            margin-left: 16px !important;
                        }
                    }
                }
            }
        }
    }

    .gutenverse-control-hover {
        margin: 20px 0 10px 0;
    }
}

.gutenverse-control-wrapper {
    &.gutenverse-control-preview {
        .control-body {
            align-items: flex-start;
            background-color: #f9f9ff;
            border: 1px solid #e3e4e6;
            border-radius: 5px;
            margin: 0;
            padding: 16px;
            gap: 12px;

            .control-icon {
                width: auto;
            }

            .control-preview {
                width: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;

                p,
                span {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 1.5;
                }

                .preview-button {
                    border-radius: 5px;
                    padding: 9px 16px;
                    background: #3B57F7;
                    color: #FFFFFF;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 1;
                    text-align: center;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    transition: background 0.3s ease;
                    margin-top: 6px;

                    &:hover {
                        background: #2435EC;
                    }
                }
            }

        }
    }
}

.gutenverse-server-secret-control {
    > * {
        margin-left: -5px;
        margin-right: -5px;
    }

    .components-base-control {
        .components-base-control__label {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    .panel-save-button-container {
        button, button:disabled {
            flex-direction: row;
            width: 100%;
            justify-content: center;
            background-color: rgba(59, 87, 247, 1);
            color: rgba(255, 255, 255, 1);
            border-radius: 3px;
            box-shadow: unset !important;

            &:not(:disabled):hover {
                background-color: #243cc7;
                color: rgba(255, 255, 255, 1);
            }
        }

        button:disabled {
            cursor: not-allowed;
        }

        &.saved {
            .components-button {
                width: fit-content !important;
                padding: 10px;
                transition: all .3s ease;

                &.is-tertiary {
                    background: rgba(231, 48, 48, 1);

                    &:hover {
                        background: #d82626;
                    }
                }
            }
        }
    }

    .notice-description {
        padding: 12px;
        border-radius: 3px;
        color: rgba(64, 80, 93, 1);
        margin-top: 12px !important;

        &.green {
            background: rgba(237, 248, 239, 1);
            border: 1px solid rgba(181, 223, 188, 1);
        }

        &.red {
            background: rgba(254, 243, 242, 1);
            border: 1px solid rgba(253, 162, 155, 1);
        }
    }
}

.interface-complementary-area {
    .components-panel__header {
        z-index: 99999;
    }
}