// Colors
$color-white: #fff;
$color-blue: #3557DC;
$color-black: #2E384D;
$color-gray-100: #F4F6FC;

/** title **/
$title-font-size: 13px;
$title-margin-size: 10px;

// Input
$input-border-color: #cecece;
$input-border-radius: 2px;
$input-text-color: #3e475b;
$input-switch-active: #3557DC;
$input-switch-shadow: #2E384D;

// Image
$background-transparent-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMUlEQVQ4T2NkYGAQYcAP3uCTZhw1gGGYhAGBZIA/nYDCgBDAm9BGDWAAJyRCgLaBCAAgXwixzAS0pgAAAABJRU5ErkJggg==");