@import "variable";
@import "mixin";

.gutenverse-control-wrapper {
    margin-bottom: 10px;

    >* {
        display: flex;
        align-items: center;
        position: relative;
    }

    .tooltip-description {
        display: flex;
        align-items: center;
    }

    .tooltip-description .tooltip-description-text {
        visibility: hidden;
        max-width: 240px;
        background-color: #011627;
        color: #fff;
        text-align: left;
        border-radius: 6px;
        padding: 15px 18px;
        position: absolute;
        z-index: 99999;
        top: 100%;
        left: 0;
        margin-top: 4px;
        line-height: 1.4em;
    }

    .tooltip-wrapper {
        position: relative;
        display: flex;

        &:after {
            visibility: hidden;
            position: absolute;
            display: block;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0px 8px 8px 8px;
            border-color: transparent transparent #011627 transparent;
            top: 15px;
            left: 7px;
        }
    }

    .tooltip-description:hover {
        .tooltip-wrapper:after {
            visibility: visible;
        }

        .tooltip-description-text {
            visibility: visible;
        }
    }

    .tooltip-description-icon {
        margin: 0 6px;
        color: #3b57f7;
    }

    .control-locked {
        background-color: #ff808b;
        color: white;
        width: auto;
        display: block;
        z-index: 99;
        padding: 1px 5px;
        font-size: 10px;
        border-radius: 2px;
        margin: 0 4px;

        &:hover .control-locked-hover {
            display: block;
        }

        .control-locked-hover {
            display: none;
            font-size: 11px;
            color: #222;
            border: 1px solid #eee;
            padding: 8px 12px;
            position: absolute;
            background-color: #fff;
            z-index: 999;
            transform: translate(-25%, -175%);
        }
    }

    .control- {
        &title {
            padding: 10px 0;

            label {
                line-height: 22px;
                font-size: $title-font-size;
                color: #1e1e1e;
                flex-grow: 1;
                display: flex;
                align-items: center;
                position: relative;

                svg {
                    margin-left: 7px;
                }
            }
        }

        &body {
            margin-left: -5px;
            margin-right: -5px;

            >* {
                width: 100%;
            }

            .control-locked {
                input {
                    background-color: #f0f0f3;
                    border: none;
                    box-shadow: none;
                }
            }
        }

        &description {
            color: #999;
            margin-bottom: 6px;
            margin-top: 5px;
        }
    }

    .control-heading- {
        &devices {
            width: 20px;
            position: relative;
            cursor: pointer;

            svg {
                @include centering-element();
                color: #99a2a9;
            }

            ul {
                position: absolute;
                background: #fff;
                z-index: 9;
                width: 125px;
                border: 1px solid #ddd;
                margin: 0;
                left: -17px;
                top: 25px;

                li {
                    cursor: pointer;
                    padding: 8px 12px;
                    margin: 0;
                    display: flex;
                    align-items: center;

                    span:first-child {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 24px;
                    }

                    &.active,
                    &:hover {
                        background: #e7ecfd;
                        color: #3b57f7;

                        svg {
                            color: #3b57f7;
                        }
                    }
                }
            }
        }
    }
}

.guten-triangle {
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 6px 6px 6px;
        border-color: transparent transparent #eee transparent;
        left: 15px;
        top: -6px;
    }
}

.show {
    display: block;
}

.hide {
    display: none !important;
}

.parent-button {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #dcdbdb;
}

.block-editor-block-inspector {
    >div>.header-control {
        padding: 16px;

        .control-body {
            margin: 0;
        }
    }
}