.guten-image {
    &.select-image img {
        cursor: pointer;
        pointer-events: auto;
    }

    .ReactCrop {
        width: fit-content;
    }
}

.guten-image-crop-ratio-options {
    .is-active {
        font-weight: bold;
    }
}