.guten-image {
    text-align: center;

    &.select-image,
    .guten-image-wrapper {
        display: flex;
        justify-content: center;
    }

    .guten-caption {
        display: block;
    }

    img {
        max-width: 100%;
        display: block;
        transition: all .3s;
    }
}