.editor-styles-wrapper {
    .guten-archive-title {
        h1, h2, h3, h4, h5, h6, p, span {
            display: flex;
            margin-top: 0;
            margin-bottom: 0;
            width: 100%;
            transition: all .2s linear;
        }

        &.block-editor-block-list__block {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}