.editor-styles-wrapper {
    .gutenverse-search-form{
        display: flex;
        flex-wrap: wrap;
    
        .guten-search-button-wrapper{
            flex-grow: 1;
        }
        .guten-button-wrapper{
            flex-grow: 1;
        }
    }
    @media (max-width: 768px) {
        .search-input-container-outer {
            max-width: 100% !important;
        }
        
    }
}