.editor-styles-wrapper {
    .gutenverse-search-form{
        display: flex;
        flex-wrap: wrap;
    
        .guten-search-button-wrapper{
            flex-grow: 1;
        }
        .guten-button-wrapper{
            flex-grow: 1;
        }
    }
}