.gutenverse-search-form {
    display: flex;
    flex-wrap: wrap;

    .guten-search-button-wrapper,
    .guten-button-wrapper {
        display: inline-flex !important;
        flex-grow: unset !important;
    }

    .search-input-container-outer {
        display: flex;
        align-items: center;
        position: relative;
        width: 350px;

        .search-input-container {
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;

            .gutenverse-search.gutenverse-search-input {
                border: none;
                padding-right: 26px;
                background-color: inherit;
                border: 1px solid #ccc;
                width: 100%;
            }

            .close-icon {
                position: absolute;
                right: 0;
                padding: 3px;
                font-size: 20px;
                color: var(--guten-txt-color);

                i {
                    display: block;
                }

                .gutenverse-icon-svg {
                    display: flex;
                }

                i:hover,
                .gutenverse-icon-svg:hover {
                    cursor: pointer;
                }
            }
        }
    }
}