.gutenverse-search-form{
    display: flex;
    flex-wrap: wrap;

    .gutenverse-search.gutenverse-search-input {
        border-width: 1px;
    }
    .guten-search-button-wrapper, .guten-button-wrapper{
        display: inline-flex!important;
        flex-grow: unset !important;
    }
}