.editor-styles-wrapper {
    .guten-post-list {
        article {
            a {
                transition: none !important;
                .meta-lists span {
                    transition: none !important;
                }
            }
        }
        &.bg-image article a {
            &:after {
                transition: none !important;
            }
        }

        .guten-block-pagination {
            .guten-block-loadmore {
                transition: none !important;
            }
        }
    }
}