@import "gutenverse-core/src/assets/mixin";
@import "gutenverse-core/src/assets/variables";
@import "gutenverse-core/src/assets/wp-fix";

.guten-post-list {
    article {
        overflow: hidden;
        position: relative;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;

        a {
            display: flex;
            @include alignitemscenter();
            @include transition(false, false, all .4s ease);
            position: relative;
            color: var(--guten-txt-h-color);

            &:hover {
                color: var(--guten-txt-h-color);
            }

            img {
                margin-right: 15px;
                z-index: 2;
                position: relative;
                line-height: 0;
                width: 200px;
                aspect-ratio: 1;
            }

            svg {
                fill: var(--guten-txt-h-color);
            }

            .guten-postlist-content {
                z-index: 2;
                width: 100%;
            }

            .guten-postlist-title {
                display: block;
                margin-bottom: 0;
            }

            .meta-lists {
                display: flex;

                span {
                    color: var(--guten-txt-m-color);
                    font-size: 12px;
                    display: inline-block;
                    @include transition(false, false, all .4s ease);

                    svg {
                        fill: var(--guten-txt-m-color);
                    }
                }
            }

            .icon-list {
                text-align: center;
            }
        }

        .guten-meta-date {
            justify-content: center;
            display: flex;
            align-items: center;
        }

        .meta-category {
            display: inline-flex !important;
            align-items: center;
        }
    }

    &.layout-horizontal {
        article a {
            @include displayflex();
        }

        .guten-posts {
            display: grid;
        }
    }

    &.bg-image article a {
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        background-position: center center;
        overflow: hidden;

        &:after {
            content: "";
            background-color: rgba(34, 34, 34, .7);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: block;
            @include transition(false, false, all .4s ease);
        }
    }

    .guten-block-pagination {
        margin: 0 0 30px 0;
        display: flex;
        justify-content: center;

        .guten-block-loadmore {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border: 1px solid var(--guten-border-color, #eaeaeb);
            @include boxshadow(0 2px 4px rgba(0, 0, 0, 0.08));
            padding: 0.625rem 0.875rem;
            font-size: 0.875rem;
            line-height: 1.5;
            border-radius: 3px;
            @include transition(false, false, .25s ease);
            color: var(--guten-txt-color);

            span {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            a {
                display: inline-block;
                color: var(--guten-txt-color);
            }
        }
    }

    .guten_block_nav {
        display: flex;
        justify-content: center;

        .btn-pagination {
            color: #212121;
            padding: 0 10px;
            border: 1px solid #eee;
            text-align: center;
            min-width: 30px;
            line-height: 30px;
            font-size: 13px;
            font-weight: 700;
            transition: .2s ease;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            i {
                transition: none;
            }

            &.disabled {
                color: #a0a0a0;
                border-color: #eee;
                cursor: auto;
            }

            &.current {
                background-color: var(--guten-btn-bg-color, #0058e6);
                color: var(--guten-btn-txt-color, #fff);
                cursor: auto;
            }
        }
    }
}