/** Editor Style **/
.panel-structure {
  .control-body {
    label {
      border: none !important;
    }

    .control-icon {
      display: none;
    }

    svg {
      fill: #f2f4f7;
      border: 1px solid #e3e4e6;

      &:hover {
        fill: #e3e6f8;
        border-color: #3b57f7;
      }
    }
  }
}

.guten-section {
  margin-top: 0;
  margin-bottom: 0;

  &.pinned {
    margin-top: 60px;
  }

  &.layout-fullwidth {
    >.guten-container {
      >.wp-block {
        max-width: 100%;
      }
    }
  }

  &:hover {
    &:after {
      box-shadow: 0 0 0 1.5px var(--guten-wp-color);
    }
  }

  .section-variation-picker-item-button {
    cursor: pointer;
    border: 1px solid rgb(189, 190, 191);
    border-radius: 4px;
    height: 50px;
    width: 94px;
    display: flex;
    gap: 2px;
    padding: 5px;

    & > .column-icon {
      background-color: #eaeaea;
      border-radius: 2px;
    }

    &:hover {
      border-color: #3b57f7;
    }
  }
}

.section-variation-picker {
  position: relative;

  .guten-container {
    padding: 10px;
  }

  .section-variation-picker-container {
    width: 100%;
    height: 100%;
    border: 2px dashed #ddd;
    padding: 50px 0;
    position: relative;
  }

  ul {
    padding: 0 !important;
    text-align: center;

    li {
      display: inline-block;
      line-height: 0;
    }
  }

  h3.select-column-variation {
    text-align: center;
    font-size: 14px !important;
    margin: 0 0 25px;
    color: #888888;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  .column-picker {
    list-style: none;
    padding: 0 25px;
    margin: 0 auto 0;
    overflow: hidden;
    max-width: 700px;
  }

  .section-variation-picker-close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #aaa;
    cursor: pointer;
  }

  .section-variation-picker-item {
    &:not(:last-child) {
      margin-right: 10px
    }

    button {
      height: auto;
      box-shadow: none !important;
      color: transparent;
      padding: 0px !important;

      &:hover {
        color: transparent !important;

        svg {
          box-shadow: 0 0 0 1px #3b57f7 !important;
          border-radius: 3px;
        }
      }

      svg {
        height: 50px;
        width: 94px;
      }
    }
  }

  .reset-column {
    cursor: pointer;
    text-align: center;

    span {
      svg {
        vertical-align: bottom;
      }

      & {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: inline-block;
        color: #3c3c3c;
        background: #dedede;
        margin-top: 20px;
        padding: 5px 20px;
        border-radius: 15px;
      }
    }
  }
}

.section-wrapper {
  &:not(.inherit-layout) {
    max-width: none !important;
  }
}

// Force max width on backend
body {

  &.gutenverse_blank,
  &.gutenverse_full {
    section.guten-section {
      &.layout-fullwidth {
        position: relative;
        max-width: 100vw;
      }
    }
  }
}

.panel-structure {
  .gutenverse-control-wrapper {
    &.gutenverse-control-image-radio {
      svg {
        fill: transparent !important;
        padding: unset !important;
        border: unset !important;

        &:hover {
          box-shadow: 0 0 0 1px #3b57f7 !important;
        }
      }
    }
  }
}

.gutenverse-control-wrapper {
  .gutenverse-button-available-pro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 16px 30px 14px 0;
    padding: 10px 16px;
    border-radius: 5px;
    box-shadow: 0 8px 44px 0 rgba(255, 255, 255, 0.12);
    background-image: linear-gradient(93deg, #f045ff -14%, #4569ff 51%, #68e4f4 106%), linear-gradient(to right, #3f3bf7, #68e4f4), linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    font-family: "Roboto", serif;
    transition: transform 0.5s ease, opacity 0.5s ease;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;

    &:hover {
      cursor: pointer;
      transform: scale(0.94);
      opacity: 0.6 !important;
      background: unset;
      background-image: linear-gradient(94deg, #f045ff -14%, #4569ff 51%, #68e4f4 106%), linear-gradient(to right, #3f3bf7, #68e4f4), linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    }
  }

  .no-license-control-body {
    display: block;

    .no-license-image-wrapper {
      display: flex;
      justify-content: center;

      .no-license-image {
        max-width: 154px;
      }
    }

    .no-license-title {
      margin-top: 20px;
      text-align: center;
      font-family: "Roboto", serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: -0.01em;

      span {
        color: #E32D64;
      }
    }

    .no-license-description {
      font-family: "Roboto", serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 20px;
    }

    .no-license-button-wrapper {
      display: flex;
      justify-content: center;

      .no-license-button {
        align-items: center;
        border-radius: 50px;
        background: linear-gradient(90deg, #3B57F7 0%, #18D8E9 100%);
        color: rgba(255, 255, 255, 1) !important;
        cursor: pointer;
        display: flex;
        gap: 6px;
        padding: 10px 16px;
        text-align: center;
        text-decoration: none;
        font-family: "Roboto", serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: fit-content;
        justify-content: flex-start;
        white-space: nowrap;
      }
    }
  }
}