.gutenverse-text-editor {
  .text-content-inner {
    word-break: break-word;
  }

  &.dropcap {
    > div {
      > p {
        &:first-child {
          &:first-letter {
            float: left;
            font-size: 6rem;
            line-height: 0.65;
            padding: 10px;
            margin: 10px;
          }
        }
      }
    }
  }
}
