.taxonomy-list-item a{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    transition: all .1s;
    .icon-list{
        transition: all 0.05s;
    }
}

.taxonomy-list-wrapper{
    display: flex;
    flex-direction: column;
}