.taxonomy-list-item {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;

    a {
        display: flex;
        width: fit-content;
        justify-content: center;
        align-items: center;
        transition: all .1s;

        .gutenverse-icon-svg {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 1em;
                height: auto;
            }
        }

        .icon-list {
            transition: all 0.05s;
        }
    }
}

.taxonomy-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
}