.taxonomy-list-item {
    display: flex;
    align-items: center;
    width: 100%;
    a{
        display: flex;
        width: fit-content;
        justify-content: center;
        align-items: center;
        transition: all .1s;
        .icon-list{
            transition: all 0.05s;
        }
    }
}
    
.taxonomy-list-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
}