.guten-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;

    >.guten-button-wrapper {
        width: auto;
    }

    .wp-block {
        margin: 0;
    }

    &.horizontal {
        flex-direction: row;

    }

    &.vertical {
        flex-direction: column;
    }
}