#gutenverse-dashboard .content-wrapper .dashboard-content .additional_features .gutenverse-button {
    padding: 12px 22px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.dashboard-content .setting-tabs .settings-tab-body-wrapper .settings-tab-body.additional_features {
    padding: 40px 30px 40px;

    .actions {
        display: flex;
        justify-content: flex-end;
        right: 30px;
        padding-top: 40px;
        border-top: 1px solid #E3E4E6;
        position: static;

    }

    .template-tab-body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(266px, 1fr));
        gap: 20px;
        margin-bottom: 40px;

        .feature-card {
            background: #F2F4F7;
            border: 1px solid #E3E4E6;
            border-radius: 5px;
            font-family: "Roboto";
            color: #011627;
            display: flex;
            flex-direction: column;

            &.locked {
                border: 1px solid #E32D64;
                position: relative;
                overflow: hidden;

                .pro-label {
                    background-color: #e32d64;
                    color: #fff;
                    font-size: 9px;
                    font-weight: 600;
                    left: 0;
                    line-height: 1;
                    margin: 0;
                    padding: 10px 16px 2px;
                    position: absolute;
                    top: 0;
                    transform: rotate(-45deg) translate(-9px, -13px);
                }
            }

            .card-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 24px 20px;

                .card-title {
                    margin: 16px 0 6px 0;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1;
                }

                p {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 1.4;
                    color: #40505D;
                    margin: 0;
                    text-align: center;
                }

                .card-icon {
                    width: 64px;
                    height: 64px;
                    background: #3B57F7;
                    border-radius: 50%;
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                }
            }

            .card-action {
                padding: 20px;
                margin-top: auto;
                border-top: 1px solid #E3E4E6;
                position: relative;

                .notice-info-wrapper {
                    position: absolute;
                    left: 110px;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 1;

                    .notice-info-icon {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        line-height: 0;
                    }

                    .required-plugin-notice {
                        position: absolute;
                        bottom: calc(100% + 10px);
                        left: calc(50% + 20px);
                        transform: translateX(-50%);
                        width: max-content;
                        max-width: 227px;
                        background: #FFF8E1;
                        border: 1px solid #EEE4BD;
                        border-radius: 5px;
                        padding: 10px;
                        color: #524E3E;
                        text-align: left;
                        white-space: normal;
                        box-sizing: border-box;
                        font-family: 'Roboto';
                        font-weight: 400;
                        font-size: 11px;
                        line-height: 1.4;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -6.4px;
                            left: calc(50% - 20px);
                            transform: translateX(-50%);
                            width: 0;
                            height: 0;
                            border-left: 7px solid transparent;
                            border-right: 7px solid transparent;
                            border-top: 7px solid #FFF8E1;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            bottom: -7.4px;
                            left: calc(50% - 20px);
                            transform: translateX(-50%);
                            width: 0;
                            height: 0;
                            border-left: 8px solid transparent;
                            border-right: 8px solid transparent;
                            border-top: 8px solid #EEE4BD;
                        }
                    }
                }

                .control-wrapper {
                    padding: 0 !important;
                    border: none;
                    height: 20px;

                    label {
                        height: 20px;
                        margin: 0 !important;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 1;
                        align-items: center;

                        .switch {
                            position: absolute;
                            right: -25px;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
    }

}



.dashboard-content {
    .popup-pro.install-plugin {
        .popup-content {
            padding: 50px 40px 50px;

            .close {
                right: 16px;
                top: 16px;
            }

            &.upgrade {
                .close {
                    z-index: 99;

                    path {
                        fill: hsla(0, 0%, 100%, .7);
                    }
                }
            }
        }

        .content {
            flex-direction: column;
            align-items: center;
            font-family: 'Roboto';
            border-radius: 10px;
            text-align: center;

            .no-license {
                border-radius: 5px;
                background: #3B57F7;
                color: #fff;
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px 22px;
                margin-top: 24px;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #2435EC;
                }
            }

            .button-upgrade-pro-banner {
                margin-top: 24px;
            }

            .image-banner {
                svg {
                    height: 183px;
                }
            }

            .heading {
                margin: 24px 0 8px 0;
                font-weight: 500;
                font-size: 22px;
                line-height: 1.3;
                color: #011627;
            }

            .desc {
                margin: 0;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.3;
                color: #40505D
            }

            .erorr-message {
                font-weight: 400;
                font-size: 12px;
                line-height: 1.3;
                color: #E73030;
                margin: 6px 0 0 0;
            }

            .install-plguin {
                cursor: pointer;
                display: inline-block;
                border-radius: 5px;
                background-color: #3B57F7;
                font-weight: 500;
                padding: 12px 24px;
                font-size: 14px;
                text-align: center;
                color: #fff;
                transition: background-color 0.3s ease, color 0.3s ease;
                width: 198px;
                box-sizing: border-box;
                border: none;
                margin-top: 24px;

                &.loading {
                    @keyframes rotation {
                        from {
                            transform: rotate(0deg);
                        }

                        to {
                            transform: rotate(359deg);
                        }
                    }

                    svg {
                        animation: rotation 2s infinite linear;
                        margin-right: 5px;
                        vertical-align: sub;
                    }
                }


                &:hover {
                    background-color: #2435EC;
                }
            }
        }


    }
}