.guten-post-template {
    display: contents;
    list-style: none;
    padding: 0;
    margin: 0;

    .wp-block-post {
        list-style: none;
        display: flex;
        flex-direction: column;

        .guten-post-featured-image {
            margin-bottom: 15px;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        .guten-post-title {
            margin: 0 0 10px;
            font-size: 1.25rem;
            line-height: 1.3;

            a {
                color: inherit;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .guten-post-excerpt {
            margin: 0;
            font-size: 0.875rem;
            color: #666;
            line-height: 1.6;

            p {
                margin: 0;
            }
        }
    }
}
