.guten-star-rating {
    .rating-title {
        margin-right: 4px;
    }

    .rating-wrapper {
        display: flex;
        align-items: center;

        i {
            padding: 1px;

            &.full {
                color: #f0ad4e;
            }
        
            &.empty {
                color: #999;
            }

            &.fas.fa-thumbs-down {
                transform: translateY(25%);
            }
        }
    }

    i[class*="unicode"] {
        font-style: unset;
    }

    .unicode-sharp::before {
        content: "★";
    }
    .unicode-sharp-hollow::before {
        content: "☆";
    }
}