/** Editor Style **/
.guten-container,
.guten-flex-container-editor,
.guten-container-resizeable {
    transition: none !important;
}

.guten-flex-container-editor {
    &.boxed {
        width: 100%;
    }

    &.full-width {
        margin: 0 auto;
    }
}

.guten-inner-container-editor {
    display: flex;
    align-self: auto;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: initial;
    justify-content: initial;
    align-content: initial;
    align-items: initial;
    margin: 0 auto;
    max-width: 100%;

    >* {
        flex-grow: 0;
        flex-shrink: 1;
    }

    >.guten-flex-container-editor.guten-flex-container-editor.full-width {
        margin: initial;
    }
}

@media (max-width: 781px) {

    .guten-flex-container-editor.full-width,
    .guten-flex-container-editor>div>.guten-inner-container-editor {
        max-width: 100% !important;
    }
}

@media (max-width: 425px) {
    .guten-inner-container-editor {
        >* {
            flex-grow: 0;
            flex-shrink: 0;
        }
    }

    .guten-flex-container-editor.full-width,
    .guten-flex-container-editor>div>.guten-inner-container-editor {
        max-width: 100% !important;
        flex-wrap: wrap;
    }

    .guten-flex-container-editor>div>.guten-inner-container-editor>.guten-flex-container-editor {
        max-width: 100% !important;
        width: 100%;
    }
}


/** Meta helper (for initial, resize) **/
.guten-flex-container-editor {
    &.empty-container {
        padding: 10px;

        .guten-inner-container-editor,
        .block-editor-inner-blocks,
        .block-editor-block-list__layout,
        .block-list-appender,
        .block-editor-inserter,
        .block-editor-button-block-appender {
            width: 100%;
            height: 100%;
        }

        .block-editor-button-block-appender {
            box-shadow: none;
            border: 1px dashed #737373;
            height: 100%;
        }
    }

    /*** Filled Content ***/
    &.filled-container {
        >.guten-container-resizeable {
            >div {
                >.components-resizable-box__handle-right {
                    right: -0;
                }

                >.components-resizable-box__handle:before,
                >.components-resizable-box__handle:after {
                    height: calc(100% - 22px);
                    top: 11px;
                }
            }

            >.container-resize {
                right: 60px;
            }
        }
    }

    &.is-hovered,
    &.is-selected {
        &:after {
            position: absolute;
            content: "";
            box-shadow: 0 0 0 0.8px #3B57F7 !important;
            transition: box-shadow 0.2s ease-in-out;
            border-radius: 3px !important;
            pointer-events: none;
            top: 1px !important;
            left: 1px !important;
            right: 1px !important;
            bottom: 1px !important;
        }

        >.guten-container-resizeable {
            >div {

                >.components-resizable-box__handle:before,
                >.components-resizable-box__handle:after {
                    display: block;
                }
            }
        }
    }

    &:hover:after {
        border: none !important;
    }

    /** resizeable **/
    .guten-container-resizeable {
        height: 100% !important;
        width: 100% !important;
    }

    >.guten-container-resizeable {
        >div {
            >.components-resizable-box__handle-right {
                right: -10px;
            }

            >.components-resizable-box__handle:before,
            >.components-resizable-box__handle:after {
                content: "";
                border: 2px solid #3B57F7;
                cursor: inherit;
                display: none;
                position: absolute;
                right: 0;
                width: 0;
                top: 2px;
                height: calc(100% - 4px);
                border-radius: 0;
            }
        }
    }

    .container-resize {
        position: absolute;
        top: calc(50% - 10px);
        right: 50px;

        svg {
            position: absolute;
            opacity: 0;
            z-index: 1;
        }

        &:hover,
        &.dragging {
            svg {
                opacity: 1;
            }

            .container-size-popup {
                display: flex;
                transition: opacity 0.2s linear;
            }
        }

        .container-size-popup {
            display: none;
            position: absolute;
            background: #000;
            color: #fff;
            z-index: 999;
            border-radius: 3px 0 0 3px;
            overflow: hidden;

            input.container-next {
                color: #fff;
                font-size: 10px;
                line-height: 11px;
                min-height: unset;
                padding: unset;
                text-align: center;
                width: 50px;
                height: 18px;
                background: #000;
                border: none;
            }
        }
    }
}

/** Initial Container **/
.guten-initial-container {
    text-align: center;
    width: 100%;

    .container-variation {
        border: 2px dashed #ddd;
        margin: 10px;
        padding: 50px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        h3 {
            color: #888;
            font-size: 14px !important;
            letter-spacing: 4px;
            margin: 0 0 25px;
            text-align: center;
            text-transform: uppercase;
        }

        ul.container-variation-picker-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            margin: 20px 0;
            max-width: 600px;
            padding: 0;
            text-align: center;

            .container-variation-picker-item-button {
                border: 1px solid #eaeaea;
                border-radius: 4px;
                cursor: pointer;
                display: flex;
                gap: 4px;
                width: 120px;
                height: 70px;
                padding: 5px;
                flex-direction: row;
                flex-wrap: wrap;

                .inner-container {
                    gap: 4px;
                    display: flex;
                    flex-wrap: wrap;
                }

                .column-icon {
                    background: #EAEAEA;
                }

                &:hover {
                    border-color: #3b57f7;
                }

                .col-width-100 {
                    flex: 0 0 100%;
                }

                .col-width-75 {
                    flex: 0 0 calc(75% - 3px);
                }

                .col-width-66 {
                    flex: 0 0 calc(66.666% - 2px);
                }

                .col-width-50 {
                    flex: 0 0 calc(50% - 2px);
                }

                .col-width-33 {
                    flex: 0 0 calc(33.333% - 3px);
                }

                .col-width-25 {
                    flex: 0 0 calc(25% - 3px);
                }

                .col-height-100 {
                    height: 100%;
                }

                .col-height-50 {
                    height: calc(50% - 2px);
                }
            }
        }
    }
}