/** Editor Style **/
.guten-container,
.guten-flex-container {
    transition: none !important;
}

.guten-container {
    &.initial {
        text-align: center;
        width: 100%;

        .container-variation {
            border: 2px dashed #ddd;
            margin: 10px;
            padding: 50px 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            h3 {
                color: #888;
                font-size: 14px !important;
                letter-spacing: 4px;
                margin: 0 0 25px;
                text-align: center;
                text-transform: uppercase;
            }

            ul.container-variation-picker-list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: center;
                margin: 20px 0;
                max-width: 600px;
                padding: 0;
                text-align: center;

                .container-variation-picker-item-button {
                    border: 1px solid #eaeaea;
                    border-radius: 4px;
                    cursor: pointer;
                    display: flex;
                    gap: 4px;
                    width: 120px;
                    height: 70px;
                    padding: 5px;
                    flex-direction: row;
                    flex-wrap: wrap;

                    .inner-container {
                        gap: 4px;
                        display: flex;
                        flex-wrap: wrap;
                    }

                    .column-icon {
                        background: #EAEAEA;
                    }

                    &:hover {
                        border-color: #3b57f7;
                    }

                    .col-width-100 {
                        flex: 0 0 100%;
                    }

                    .col-width-75 {
                        flex: 0 0 calc(75% - 3px);
                    }

                    .col-width-66 {
                        flex: 0 0 calc(66.666% - 2px);
                    }

                    .col-width-50 {
                        flex: 0 0 calc(50% - 2px);
                    }

                    .col-width-33 {
                        flex: 0 0 calc(33.333% - 3px);
                    }

                    .col-width-25 {
                        flex: 0 0 calc(25% - 3px);
                    }

                    .col-height-100 {
                        height: 100%;
                    }

                    .col-height-50 {
                        height: calc(50% - 2px);
                    }
                }
            }
        }
    }
}

.guten-flex-container {
    &.empty-container {
        padding: 10px;

        .block-editor-inner-blocks,
        .block-editor-block-list__layout,
        .block-list-appender,
        .block-editor-inserter,
        .block-editor-button-block-appender {
            width: 100%;
            height: 100%;
        }

        .guten-container-resizeable {
            display: flex;
            height: 100% !important;
            max-width: none !important;
            width: 100% !important;
        }

        .block-list-appender {
            margin: 0 !important;

            .block-editor-inserter {
                .block-editor-button-block-appender {
                    box-shadow: none;
                    border: 1px dashed #737373;
                }
            }
        }
    }

    &.is-hovered,
    &.is-selected {
        >.guten-container-resizeable {
            >.container-resize {
                svg {
                    opacity: 1;
                    transition: opacity 0.2s ease-in-out;
                    z-index: 20;
                }
            }

            >div {
                >.components-resizable-box__handle:before,
                >.components-resizable-box__handle:after {
                    content: "";
                    border: 2px solid #3B57F7;
                    cursor: inherit;
                    display: block;
                    position: absolute;
                    right: 0;
                    width: 0;
                    top: 5px;
                    height: calc(100% - 12px);
                    border-radius: 0;
                }
            }
        }
    }

    &:not(.is-selected),
    &:not(.is-hovered) {

        .components-resizable-box__handle:before,
        .components-resizable-box__handle:after {
            display: none;
        }
    }

    .container-resize {
        position: absolute;
        top: calc( 50% - 10px);
        right: 50px;

        svg {
            position: absolute;
            opacity: 0;
            z-index: 1;
        }

        &:hover,
        &.dragging {
            svg {
                opacity: 1;
            }

            .container-popup {
                display: flex;
                transition: opacity 0.2s linear;
            }
        }

        .container-popup {
            display: none;
            position: absolute;
            background: #000;
            color: #fff;
            z-index: 999;
            border-radius: 0 0 3px 3px;
            overflow: hidden;

            input.container-next {
                color: #fff;
                font-size: 10px;
                line-height: 11px;
                min-height: unset;
                padding: unset;
                text-align: center;
                width: 50px;
                height: 18px;
                background: #000;
                border: none;
            }
        }
    }
}