.guten-flex-container {
    display: flex;
    align-self: auto;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: initial;
    justify-content: initial;
    align-content: initial;
    align-items: initial;
}