// Shared flex container styles
%flex-container-base {
    display: flex;
    align-self: auto;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: initial;
    justify-content: initial;
    align-content: initial;
    align-items: initial;
    margin: 0 auto;
    max-width: 100%;
}

.guten-flex-container {
    box-sizing: border-box;

    &.boxed {
        width: 100%;
    }

    &.full-width,
    &.boxed>.guten-inner-container {
        @extend %flex-container-base;
    }

    >.guten-inner-container {
        >.guten-flex-container.full-width {
            margin: initial;
        }
    }
}

.guten-flex-container,
.guten-inner-container {
    >* {
        flex-grow: 0;
        flex-shrink: 1;
    }
}

@media (max-width: 781px) {

    .guten-flex-container.full-width,
    .guten-flex-container>.guten-inner-container {
        max-width: 100%;
    }
}

@media (max-width: 425px) {

    .guten-flex-container.full-width,
    .guten-flex-container>.guten-inner-container,
    .guten-flex-container.boxed>.guten-inner-container {
        max-width: 100%;
        flex-wrap: wrap;
    }

    .guten-flex-container>.guten-inner-container>.guten-flex-container {
        max-width: 100%;
        width: 100%;
    }
}