// Shared flex container styles
%flex-container-base {
    display: flex;
    align-self: auto;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: initial;
    justify-content: initial;
    align-content: initial;
    align-items: initial;
    margin: 0 auto;
    max-width: 100%;
}

.guten-flex-container {
    &.boxed {
        width: 100%;
    }

    &.full-width,
    &.boxed>.guten-inner-container {
        @extend %flex-container-base;
    }

    >.guten-flex-container.full-width,
    >.guten-inner-container>.guten-flex-container.full-width {
        margin: initial;
    }
}

.guten-flex-container,
.guten-inner-container {
    box-sizing: border-box;
    position: relative;
    flex-direction: column;

    >* {
        flex-grow: 0;
        flex-shrink: 1;
    }
}

.guten-video-bg-wrapper {
    opacity: 0;
    transition: opacity 1s ease-in-out;

    video {
        object-fit: cover;
    }

    &.loaded {
        opacity: 1;
    }

    div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.guten-flex-container {
    .guten-fluid-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .guten-shape-divider {
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 100%;
        line-height: 0;
        direction: ltr;

        svg {
            display: block;
            width: calc(100% + 1.3px);
            position: relative;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        &.guten-shape-divider-top {
            top: -1px;

            &.guten-shape-flip>svg {
                transform: translateX(-50%) rotateY(180deg);
            }

            &.guten-shape-zindex {
                z-index: 2;
            }
        }

        &.guten-shape-divider-bottom {
            bottom: -1px;
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);

            &.guten-shape-flip>svg {
                transform: translateX(-50%) rotateY(180deg);
            }

            &.guten-shape-zindex {
                z-index: 2;
            }
        }

        .guten-shape-fill {
            fill: #eee;
        }
    }

    .guten-shape-divider-animated {
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 100%;
        line-height: 0;
        direction: ltr;

        svg {
            display: block;
            width: calc(100% + 1.3px);
            position: relative;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        &.guten-shape-divider-animated-top {
            top: -1px;
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);

            &.guten-shape-flip>svg {
                transform: translateX(-50%) rotateY(180deg);
            }

            &.guten-shape-zindex {
                z-index: 2;
            }
        }

        &.guten-shape-divider-animated-bottom {
            bottom: -1px;

            &.guten-shape-flip>svg {
                transform: translateX(-50%) rotateY(180deg);
            }

            &.guten-shape-zindex {
                z-index: 2;
            }
        }

        .guten-shape-fill {
            fill: #eee;
        }
    }
}

@media (max-width: 781px) {

    .guten-flex-container.full-width,
    .guten-flex-container>.guten-inner-container {
        max-width: 100%;
    }
}

@media (max-width: 425px) {

    .guten-flex-container.full-width,
    .guten-flex-container>.guten-inner-container,
    .guten-flex-container.boxed>.guten-inner-container {
        max-width: 100%;
        flex-wrap: wrap;
    }

    .guten-flex-container>.guten-inner-container>.guten-flex-container {
        max-width: 100%;
        width: 100%;
    }
}