.guten-post-author {
    display: flex;
    align-items: flex-start;
    flex-direction: row;

    .left-content {
        margin-right: 10px;

        img {
            display: block;
            border-radius: 50%;
        }
    }

    .right-content {
        display: flex;
        flex-direction: column;

        h1, h2, h3, h4, h5, h6, p, span {
            margin: 0;
            display: inline-block;
            width: 100%;
        }
    }
}
