.accordion-item  {

  .accordion-icon {
    margin-right: 10px;
  }

  .accordion-icon-open {
    display: none;
  }

  .accordion-icon-closed {
    display: block;
  }

  .accordion-body {
    transition: height .2s;
    transition-timing-function: cubic-bezier(0,-0.13,0,1.04);
    height: 0px;
    &.active{
      height: auto;
    }
  }

  .accordion-header{
    &.active{
      height: auto;
    }
  }

  &.active {
    .accordion-icon-open {
      display: block;
    }

    .accordion-icon-closed {
      display: none;
    }

    .expanded {
      height: auto;
    }
  }
}
