.guten-popup-builder {
    transform: none!important;
}

.guten-popup-holder {
    text-align: center;
    background: #ddd;
    padding: 40px;
    border: 1px solid #999;
    cursor: pointer;

    h1 {
        text-transform: uppercase;
        font-weight: 400 !important;
        font-size: 15px !important;
        letter-spacing: 10px !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    span {
        display: block;
        padding-top: 15px;
        font-size: 12px;
        color: #757575;
    }
}

.is-sidebar-opened {
    .guten-popup {
        right: 280px;
    }
}

.guten-popup {
    visibility: visible !important;
    opacity: 1 !important;
    z-index: 9 !important;

    .block-list-appender {
        position: relative;
    }
}

.block-editor-page {
    .guten-popup-Desktop {
        .guten-popup {
            top: 61px;
            bottom: 24px;
        }
    }
}