.guten-popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;

    ::-webkit-scrollbar {
        width: 0px;
    }

    &.show {
        visibility: visible;
        opacity: 1;
    }

    &:not(.show) {
        display: none;
    }

    &-builder[data-close-overlay="true"] {
        .guten-popup-overlay,
        .guten-popup-wrapper {
            cursor: pointer;
        }
    }

    .guten-popup-wrapper {
        width: 100%;
    }

    .guten-popup-overlay {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .guten-popup-wrapper {
        display: inline-block;
        position: absolute;
    }

    .guten-popup-content {
        background: #fff;
        width: 450px;
        min-height: 50px;
        max-height: 100vh;
        position: relative;
        z-index: 2;
        padding: 10px;
        cursor: initial;
        overflow-y: unset;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
    }

    .guten-popup-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow-y: scroll;
    }

    .guten-popup-content-inner {
        width: 100%;
    }

    .guten-popup-close {
        position: absolute;
        z-index: 999;
        color: var(--guten-txt-color);
        font-size: 15px;
        cursor: pointer;
        display: flex;
        background: rgb(255 255 255 / 20%);
        padding: 3px;
        border-radius: 3px;

        i {
            font-size: 27px;
            color: var(--guten-txt-color);
        }
    }

    &-left {
        .guten-popup-content {
            margin-right: auto;
        }
    }

    &-right {
        .guten-popup-content {
            margin-left: auto;
        }
    }

    &-center {
        .guten-popup-wrapper {
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        .guten-popup-content {
            margin-left: auto;
            margin-right: auto;
        }

        .guten-popup-wrapper {
            &-start {
                top: 0;
            }

            &-center {
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

            &-end {
                bottom: 0;
            }
        }

        .guten-popup-content-inner:not(.above) {
            display: none;
        }
    }

    &-left,
    &-right {
        .guten-popup-content {
            height: 100%;
        }

        .guten-popup-container {
            min-height: calc(100vh - 20px);
        }

        &.guten-popup-side {
            &-space {
                .guten-popup-container {
                    justify-content: space-between;
                }
            }

            &-center {
                .guten-popup-container {
                    justify-content: center;
                }
            }

            &-top {
                .guten-popup-container {
                    justify-content: flex-start;
                }
            }

            &-bottom {
                .guten-popup-container {
                    justify-content: flex-end;
                }
            }

            &-center,
            &-top,
            &-bottom {
                .guten-popup-content-inner:not(.above) {
                    display: none;
                }
            }
        }
    }
}
