@mixin navMenu() {
	.guten-nav-menu {
		&:after {
			display: block;
			content: "";
			clear: both;
		}

		.gutenverse-hamburger-menu {
			display: block;
		}

		.gutenverse-menu-wrapper {
			width: 100%;
			max-width: 360px;
			border-radius: 0px 0px 0px 0px;
			background-color: #f7f7f7;
			width: 100%;
			position: fixed;
			top: 0;
			left: -110%;
			height: 100% !important;
			// box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
			overflow-y: auto;
			overflow-x: hidden;
			display: flex;
			flex-direction: column-reverse;
			justify-content: flex-end;
			@include transition(false,
				false,
				(left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53)));

			&.active {
				left: 0;
			}

			.gutenverse-menu-container {
				overflow-y: scroll;
			}

			.gutenverse-nav-identity-panel {
				padding: 10px 0px 10px 0px;
				display: block;
				position: relative;
				z-index: 5;
				width: 100%;

				.gutenverse-nav-site-title {
					display: inline-block;
				}

				.gutenverse-close-menu {
					display: block;
				}
			}

			.gutenverse-menu {
				display: block;
				height: 100%;
				overflow-y: auto;

				li.menu-item-has-children {
					>a i {
						margin-left: auto;
						padding: 4px 15px;
						border: 1px solid var(--guten-border-color);
						border-radius: 3px;
						cursor: pointer;
					}

					.sub-menu {
						position: inherit;
						box-shadow: none;
						background: none;
					}
				}

				li {
					display: block;
					width: 100%;
					position: inherit;

					.sub-menu {
						display: none;
						max-height: 2500px;
						opacity: 0;
						visibility: hidden;
						transition: max-height 5s ease-out;

						&.dropdown-open {
							display: block;
							opacity: 1;
							visibility: visible;
						}
					}

					a {
						display: block;

						i {
							float: right;
						}
					}
				}
			}
		}

		.gutenverse-menu-wrapper {
			.gutenverse-menu-container {
				height: 100%;
			}
		}

		.guten-nav-overlay.active {
			display: block;
			z-index: 999;
			position: fixed;
			background-color: rgba(0, 0, 0, 0.2);
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			pointer-events: none;
		}
	}
}

.tablet,
.mobile {
	&.tablet-breakpoint {
		@include navMenu();
	}
}

.mobile {
	&.mobile-breakpoint {
		@include navMenu();
	}
}

.guten-nav-menu {


	&.break-point-tablet {
		@media screen and (max-width: 780px) {
			.gutenverse-hamburger-menu {
				display: block;
			}

			.gutenverse-menu-wrapper {
				width: 100%;
				max-width: 360px;
				border-radius: 0px 0px 0px 0px;
				background-color: #f7f7f7;
				width: 100%;
				position: fixed;
				top: 0;
				left: -110%;
				height: 100%;
				// box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
				overflow-y: auto;
				overflow-x: hidden;
				display: flex;
				flex-direction: column-reverse;
				justify-content: flex-end;
				@include transition(false,
					false,
					(left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53)));

				&.active {
					left: 0;
				}

				.gutenverse-menu-container {
					overflow-y: scroll;
				}

				.gutenverse-nav-identity-panel {
					padding: 10px 0px 10px 0px;
					display: block;
					position: relative;
					z-index: 5;
					width: 100%;

					.gutenverse-nav-site-title {
						display: inline-block;
					}

					.gutenverse-close-menu {
						display: block;
					}
				}

				.gutenverse-menu,
				.gutenverse-menu>ul {
					display: block;
					overflow-y: auto;

					li.menu-item-has-children {
						>a i {
							margin-left: auto;
							padding: 4px 15px;
							border: 1px solid var(--guten-border-color);
							border-radius: 3px;
						}

						.sub-menu {
							position: inherit;
							box-shadow: none !important;
							background: none;
						}
					}

					li {
						display: block;
						width: 100%;
						position: inherit;

						.sub-menu {
							display: none;
							max-height: 2500px;
							opacity: 0;
							visibility: hidden;
							transition: max-height 5s ease-out;

							&.dropdown-open {
								display: block;
								opacity: 1;
								visibility: visible;
							}
						}

						a {
							display: block;

							i {
								float: right;
							}
						}
					}
				}
			}

			.guten-nav-overlay {
				position: fixed;
				background-color: rgba(0, 0, 0, 0.2);
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 999;
				transform: translateX(-100%);
				transition: transform 0s ease-in-out;

				&.active {
					animation: slideLeftToRight .5s ease-in-out forwards;
					transition: transform .5s ease-in-out;
				}

				&.exiting {
					animation: slideRightToLeft .5s ease-in-out forwards;
					transition: transform .5s ease-in-out;
				}
			}
		}

		@media screen and (min-width: 781px) {
			.gutenverse-menu-wrapper .gutenverse-menu-container {
				height: auto;
			}
		}
	}

	&.break-point-mobile {
		@media screen and (max-width: 425px) {
			.gutenverse-hamburger-menu {
				display: block;
			}

			.gutenverse-menu-wrapper {
				width: 100%;
				max-width: 360px;
				border-radius: 0px 0px 0px 0px;
				background-color: #f7f7f7;
				position: fixed;
				top: 0;
				left: -110%;
				height: 100% !important;
				// box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
				overflow-y: auto;
				overflow-x: hidden;
				display: flex;
				flex-direction: column-reverse;
				justify-content: flex-end;
				@include transition(false,
					false,
					(left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53)));

				&.active {
					left: 0;
				}

				.gutenverse-menu-container {
					overflow-y: scroll;
				}

				.gutenverse-nav-identity-panel {
					padding: 10px 0px 10px 0px;
					display: block;
					position: relative;
					z-index: 5;
					width: 100%;

					.gutenverse-nav-site-title {
						display: inline-block;
					}

					.gutenverse-close-menu {
						display: block;
					}
				}

				.gutenverse-menu,
				.gutenverse-menu>ul {
					display: block;
					overflow-y: auto;

					li.menu-item-has-children {
						>a i {
							margin-left: auto;
							padding: 4px 15px;
							border: 1px solid var(--guten-border-color);
							border-radius: 3px;
						}

						.sub-menu {
							position: inherit;
							box-shadow: none;
							background: none;
						}
					}

					li {
						display: block;
						width: 100%;
						position: inherit;

						.sub-menu {
							display: none;
							max-height: 2500px;
							opacity: 0;
							visibility: hidden;
							transition: max-height 5s ease-out;

							&.dropdown-open {
								display: block;
								opacity: 1;
								visibility: visible;
							}
						}

						a {
							display: block;

							i {
								float: right;
							}
						}
					}
				}
			}

			.guten-nav-overlay {
				position: fixed;
				background-color: rgba(0, 0, 0, 0.2);
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 999;
				transform: translateX(-100%);
				transition: transform 0s ease-in-out;

				&.active {
					animation: slideLeftToRight .5s ease-in-out forwards;
					transition: transform .5s ease-in-out;
				}

				&.exiting {
					animation: slideRightToLeft .5s ease-in-out forwards;
					transition: transform .5s ease-in-out;
				}
			}
		}

		@media screen and (min-width: 425px) {
			.gutenverse-menu-wrapper .gutenverse-menu-container {
				height: auto;
			}
		}
	}
}