@mixin navMenu() {
  .guten-nav-menu {
    &:after {
      display: block;
      content: "";
      clear: both;
    }
    .gutenverse-hamburger-menu {
      display: block;
    }
    .gutenverse-menu-wrapper {
      width: 100%;
      max-width: 360px;
      border-radius: 0px 0px 0px 0px;
      background-color: #f7f7f7;
      width: 100%;
      position: fixed;
      top: 0;
      left: -110%;
      height: 100% !important;
      box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      @include transition(
        false,
        false,
        (left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53))
      );
      &.active {
        left: 0;
      }
      .gutenverse-menu-container {
        overflow-y: scroll;
      }
      .gutenverse-nav-identity-panel {
        padding: 10px 0px 10px 0px;
        display: block;
        position: relative;
        z-index: 5;
        width: 100%;
        .gutenverse-nav-site-title {
          display: inline-block;
        }
        .gutenverse-close-menu {
          display: block;
        }
      }
      .gutenverse-menu {
        display: block;
        height: 100%;
        overflow-y: auto;
        li.menu-item-has-children {
          > a i {
            margin-left: auto;
            padding: 4px 15px;
            border: 1px solid var(--guten-border-color);
            border-radius: 3px;
            cursor: pointer;
          }
          .sub-menu {
            position: inherit;
            box-shadow: none;
            background: none;
          }
        }
        li {
          display: block;
          width: 100%;
          position: inherit;
          .sub-menu {
            display: none;
            max-height: 2500px;
            opacity: 0;
            visibility: hidden;
            transition: max-height 5s ease-out;
            &.dropdown-open {
              display: block;
              opacity: 1;
              visibility: visible;
            }
          }
          a {
            display: block;
            i {
              float: right;
            }
          }
        }
      }
    }
    .gutenverse-menu-wrapper {
      .gutenverse-menu-container {
        height: 100%;
      }
    }
  }
}

.tablet,
.mobile {
  &.tablet-breakpoint {
    @include navMenu();
  }
}

.mobile {
  &.mobile-breakpoint {
    @include navMenu();
  }
}
