@import "gutenverse-core/src/assets/mixin";
@import "gutenverse-core/src/assets/variables";
@import "gutenverse-core/src/assets/wp-fix";

.guten-nav-menu {  
  * {
    transition: background-color 0.4s ease 0s, border 0.4s ease 0s, border-radius 0.4s ease 0s, box-shadow 0.4s ease 0s, color 0.4s ease 0s, height 0.4s ease 0s;
  }

  .gutenverse-hamburger-wrapper {
    display: flex;
  }

  .gutenverse-hamburger-menu {
    display: none;
    color: var(--guten-base-color);
    border: solid 1px var(--guten-border-color);
    background-color: var(--guten-border-color);
    padding: 25px 40px 25px 40px;
    cursor: pointer;
    z-index: 100;
  }

  .gutenverse-menu-wrapper {
    z-index: 1000;

    .gutenverse-nav-identity-panel {
      .gutenverse-nav-site-title {
        display: none;

        .gutenverse-nav-logo {
          margin: 5px 0px 5px 0px;
          padding: 5px 5px 5px 5px;
          display: block;

          img {
            height: auto;
            width: 120px;
          }
        }
      }

      .gutenverse-close-menu {
        float: right;
        display: none;
        color: var(--guten-base-color);
        border: solid 1px var(--guten-border-color);
        background: var(--guten-border-color);
        padding: 8px 8px 8px 8px;
        margin: 12px 12px 12px 12px;
        width: 45px;
        border-radius: 3px;
        position: relative;
        z-index: 10;
        cursor: pointer;
      }
    }

    .gutenverse-menu,
    .gutenverse-menu>ul {
      display: flex;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      margin-left: 0;
      margin: 0;
      align-items: center;

      >li {
        margin: 0;
        padding: 0;
        list-style: none;

        >a {
          color: #707070;
          padding: 0px 15px 0px 15px;
          font-size: 15px;
          @include transition(false, false, all 0.4s ease);
          text-transform: none;
          font-weight: 500;
          letter-spacing: normal;
          @include displayflex();
          align-items: center;
          text-decoration: none;
        }
      }

      li {
        position: relative;
        @include displayflex();

        a {
          padding: 15px 15px 15px 15px;
          color: #000000;
          font-size: 14px;
          font-weight: 400;
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
      }

      li.menu-item-has-children {
        .sub-menu {
          box-shadow: 0 10px 30px 0 rgba(45, 45, 45, 0.2);
          background: var(--guten-bg-color);
          position: absolute;
          top: 100%;
          left: 0;
          max-height: none;
          margin: 0px;
        }

        &:hover>.sub-menu {
          opacity: 1;
          visibility: visible;
        }

        >a i,
        >a svg {
          margin-left: 5px;
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }

      .sub-menu {
        border-radius: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        list-style: none;
        @include transition(false, false, all 0.4s ease);
        opacity: 0;
        visibility: hidden;
        z-index: 1000;

        >li>.sub-menu {
          left: 100%;
          top: 0;
        }
      }
    }
  }
}

@keyframes slideLeftToRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}