.guten-icon-list{
    ul{
        margin: 0px;
    }
    .list-wrapper{
        list-style: none;
        padding: 0px;
        display: flex;
        flex-direction: column;

        .block-list-appender {
            margin: 0;
        }

        .guten-icon-list-item {
            .list-divider{
                width: auto;
                height: auto;
            }
            .list-text {
                &.no-icon {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            a{
                display: flex;
            }
        }
        &.inline-icon-list {
            flex-direction: row;
            flex-wrap: wrap;
            .guten-icon-list-item{
                display: flex;
            }
        }
    }
    
}