.guten-icon-list {
    .list-wrapper {
        display: flex;
        flex-direction: column;

        &:not(.inline-icon-list) {
            .guten-icon-list-item{
                width: 100%;
            }
        }

        .guten-icon-list-item {
            
            .list-divider {
                width: 100%;
                height: 0;
            }

            .list-text {
                &.no-icon {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            a {
                color: var(--guten-txt-color) !important;
                display: flex;
                align-items: center;
            }
        }

        &.inline-icon-list {
            flex-direction: row;
            flex-wrap: wrap;

            .guten-icon-list-item {
                display: flex;

                .list-divider {
                    width: 0;
                    height: 100%;
                }
            }
        }
    }

    &.inline-icon-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .guten-icon-list-item {
            display: flex;

            .list-divider {
                width: 0;
                height: 100%;
            }
        }
    }
}
