.guten-client-logo {
  position: relative;
  width: 100%;

  .swiper-container {
    overflow: hidden;
  }

  .swiper-wrapper {
    height: auto;
    .image-list {
      @include displayflex();
      @include alignitemscenter();
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: center;
      &:hover .content-image .hover-image {
        opacity: 1;
        @include transition(false, false, opacity 0.25s ease-in-out 0s);
      }
    }
    .content-image {
      position: relative;
      line-height: 0;
      width: 100%;
      text-align: center;
      .main-image {
        height: auto;
        width: 100%;
        box-sizing: border-box;
      }
      .hover-image {
        position: absolute;
        left: 0px;
        top: 50%;
        @include transform(false, translateY(-50%));
        opacity: 0;
        height: auto;
        width: 100%;
      }
    }
    .content-image:hover .main-image {
      opacity: 0;
      visibility: hidden;
      @include transition(false, false, all 0.25s ease);
    }
  }
}
