@import "gutenverse-core/src/assets/mixin";
@import "gutenverse-core/src/assets/variables";
@import "gutenverse-core/src/assets/wp-fix";
@import "../../../../assets/lib/_swiper.scss";

.guten-client-logo {
  position: relative;
  width: 100%;

  .swiper-container {
    overflow: hidden;
  }

  .swiper-wrapper {
    height: auto;
    .image-list {
      @include displayflex();
      @include alignitemscenter();
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: center;
      &:hover .content-image .hover-image {
        opacity: 1;
      }
      &:hover .content-image .main-image{
        opacity: 0;
      }
    }
    .content-image {
      position: relative;
      line-height: 0;
      width: 100%;
      text-align: center;
      .main-image {
        height: auto;
        width: 100%;
        box-sizing: border-box;
        @include transition(false, false, opacity 0.25s ease-in-out 0s);
      }
      .hover-image {
        position: absolute;
        left: 0px;
        top: 50%;
        height: auto;
        width: 100%;
        opacity: 0;
        @include transform(false, translateY(-50%));
        @include transition(false, false, opacity 0.25s ease-in-out 0s);
      }

    }
  }
}
