@import "./lib/animate.compat";
@import "./animation-transform.scss";

$animations: fadeIn,
    fadeInLeft,
    fadeInDown,
    fadeInRight,
    fadeInUp,
    slideInLeft,
    slideInDown,
    slideInRight,
    slideInUp;

@each $animation in $animations {

    // Desktop
    .__desktop-#{$animation} {
        animation-name: $animation;
        animation-name: var(--guten-use-animation, $animation);
    }

    // Tablet
    @media (max-width: 780px) {
        .__tablet-#{$animation} {
            animation-name: var(--guten-use-animation, $animation);
            animation-name: var(--guten-use-animation, $animation);
        }
    }

    // Mobile
    @media only screen and (max-width: 425px) {
        .__mobile-#{$animation} {
            animation-name: var(--guten-use-animation, $animation);
            animation-name: var(--guten-use-animation, $animation);
        }
    }
}