.bg-slideshow-container {
    position: absolute !important;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    height: 100% !important;
    margin: auto;
    overflow: hidden;

    .bg-slideshow-item {
        background-position: center;
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: inherit;
        object-fit: cover;

        .slideshow-image {
            width: 100%;
            height: inherit;
            display: none;
            background-size: contain;

            &.current {
                display: block;
            }
        }
    }
}