/** Global Frontend **/
[class*="guten"] {
    a {
        text-decoration: none;
        box-shadow: none;
    }
}

.editor-styles-wrapper .guten-column .wp-block {
    margin-left: 0;
    margin-right: 0;
}

/* Overlay Element */
.guten-element {
    // &:not(.guten-column) {
    //     width: 100%;
    // }

    .hover-from-left,
    .hover-from-right,
    .hover-from-top,
    .hover-from-bottom,
    .hover-from-arise {
        &:before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            background-size: 101% 101%;
            transition: all 0.6s ease;
        }
    }

    .hover-from-left,
    &.hover-from-left {
        &:before {
            top: 0;
            left: -101%;
        }

        &:hover:before {
            left: 0;
        }
    }

    .hover-from-right,
    &.hover-from-right {
        &:before {
            top: 0;
            right: -101%;
        }

        &:hover:before {
            right: 0;
        }
    }

    .hover-from-top,
    &.hover-from-top {
        &:before {
            top: -101%;
            left: 0;
        }

        &:hover:before {
            top: 0;
        }
    }

    .hover-from-bottom,
    &.hover-from-bottom {
        &:before {
            bottom: -101%;
            left: 0;
        }

        &:hover:before {
            bottom: 0;
        }
    }

    .hover-from-arise,
    &.hover-from-arise {
        &:before {
            top: 0;
            left: 0;
            opacity: 0%;
        }

        &:hover:before {
            opacity: 100%;
        }
    }
}

.guten-background-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute !important;
    border-radius: inherit;
}

.guten-background-animated {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    overflow: hidden;

    .animated-layer {
        position: absolute !important;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: inherit;
    }
}

.gutenverse-block-loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.gutenverse-icon-svg {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 1.25em;
        height: auto;
        fill: currentColor;
    }
}

:root :where(.editor-styles-wrapper) :where(.is-layout-flow) .wp-block {
    margin-block-start: 0;
}