@import "../assets/scss/mixin";
@import "../assets/scss/skeleton";
@import "../assets/scss/global";

/* reserved line for script, don't delete */

// Components
@import "../assets/scss/gutenverse-library";
@import "../assets/scss/gutenverse-popup";
@import "../assets/scss/drawer";

// @import "../styles/transition";

// Template
@import "../assets/scss/template";
@import "../assets/scss/templating";

// Global Style
@import "../assets/scss/globalstyle-drawer";

// Control
@import "../controls/index";

// Animation CSS
@import "../assets/scss/animation";

// Responsive
@import "../assets/scss/responsive/responsive-editor";

// React Image Crop
@import "react-image-crop/lib/ReactCrop";

.guten-raw-wrapper {
  width: 100%;

  &.flex-base {
    display: flex;
    flex-basis: 100%;
  }

  .guten-empty {
    width: 100%;
    background-color: #eee;
    color: #333;
    padding: 8px;
    text-align: center;
  }
}

img {
  height: auto;
}

.guten-variable-warning {
  display: flex;
  margin: 0 12px 20px 12px;
  padding: 20px 15px 20px 15px;
  background: #F5F5FA;
  border-radius: 5px;

  a, a:active {
    width: 85%;
    margin-left: 10px;
    font-size: 12px;
    text-decoration: none;
  }
}

h2.block-editor-inserter__panel-title span.gutenverse-category {
  display: flex;
  align-items: center;

  svg {
    margin-right: 5px;
  }
}

.editor-styles-wrapper {
  [class*="guten"] a {
    text-decoration: none;
  }
}
