.button-upgrade-pro {
    align-items: center;
    background: linear-gradient(90deg, #3B57F7 0%, #18D8E9 100%) !important;
    border-radius: 50px;
    color: white !important;
    cursor: pointer;
    display: flex;
    gap: 6px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: fit-content;
    justify-content: flex-start;

    &.thin {
        padding: 8px 16px;
    }

    &.text-sm {
        font-size: 10px;
    }

    &.full {
        width: 100%;
    }

    &.left {
        justify-content: flex-start;
    }

    &.center {
        justify-content: center;
    }

    &.right {
        justify-content: flex-end;
    }

    &.activate {
        background-color: #d10000 !important;
    }
}

.banner-pro {
    background: linear-gradient(220deg, #FFC121 0%, #FFE68F 100%);
    border-radius: 5px;
    padding: 32px;
    position: relative;

    .title {
        font-family: Poppins;
        font-size: 28px;
        font-weight: 500;
        line-height: 32px;
        margin: 8px 0 0;
        padding: 0;
        width: 400px;
        z-index: 1;
        position: relative;
    }

    .subtitle {
        color: var(--normal-text, #40505D);
        font-size: 14px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        margin: 0;
        padding: 0;
        z-index: 1;
        position: relative;
    }

    .banner-image {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
    }

    .buttons {
        display: flex;
        gap: 8px;
        margin-top: 20px;
        z-index: 1;
        position: relative;

        .gutenverse-button {
            display: flex;
            align-items: center;
            gap: 8px;
            background: #3b57f7;
            border-radius: 50px;
            color: #fff;
            cursor: pointer;
            font-size: 12px;
            font-weight: 500;
            font-family: 'Roboto';
            line-height: 18px;
            padding: 8px 16px;
        }

        .demo-button {
            display: flex;
            align-items: center;
            gap: 8px;
            border: 1px solid #40505D;
            color: #40505D;
            border-radius: 50px;
            cursor: pointer;
            font-size: 12px;
            font-weight: 500;
            font-family: 'Roboto';
            line-height: 18px;
            padding: 8px 16px;
            text-decoration: none;
        }
    }
}