.button-upgrade-pro {
    align-items: center;
    border-radius: 50px;
    background: linear-gradient(90deg, #3B57F7 0%, #18D8E9 100%);
    color: rgba(255, 255, 255, 1) !important;
    cursor: pointer;
    display: flex;
    gap: 6px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: fit-content;
    justify-content: flex-start;
    white-space: nowrap;

    &.thin {
        padding: 8px 16px;
    }

    &.text-sm {
        font-size: 10px;
    }

    &.full {
        width: 100%;
    }

    &.left {
        justify-content: flex-start;
    }

    &.center {
        justify-content: center;
    }

    &.right {
        justify-content: flex-end;
    }

    &.activate {
        background-color: rgba(255, 255, 255, 0.20);
    }
}

.button-upgrade-pro:hover {
    color: rgba(255, 255, 255, .6) !important;

    svg {
        opacity: 60%;
    }
}

.button-upgrade-pro-banner {
    background: rgba(255, 255, 255, 0.20);
}

.button-upgrade-pro-banner:hover {
    background: rgba(255, 255, 255, 0.40);
}


.banner-pro {
    border-radius: 5px;
    padding: 32px;
    position: relative;
    background: linear-gradient(180deg, #7A7DFF -16.83%, #696CE4 26.77%, #4E52D1 66.05%, #3D40BE 114.42%);
    ;

    .title {
        font-family: Poppins;
        font-size: 28px;
        font-weight: 500;
        line-height: 32px;
        margin: 0px auto;
        color: white;
        padding: 0;
        width: 50%;
        z-index: 1;
        position: relative;
        text-align: center;

    }

    .subtitle {
        color: #FFD232;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 5px;
        text-align: center;
        padding: 0;
        z-index: 1;
        position: relative;
    }

    .banner-image {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .buttons {
        display: flex;
        gap: 8px;
        padding-top: 10px;
        margin: 0px auto;
        z-index: 1;
        position: relative;
        width: 50%;
        justify-content: center;
        text-align: center;
        white-space: nowrap;

        .gutenverse-button {
            display: flex;
            align-items: center;
            gap: 8px;
            background: #3b57f7;
            border-radius: 50px;
            color: #fff;
            cursor: pointer;
            font-size: 12px;
            font-weight: 500;
            font-family: "Roboto", sans-serif;
            line-height: 18px;
            padding: 8px 16px;
        }

        .demo-button {
            display: flex;
            align-items: center;
            gap: 8px;
            border: 1px solid #ffffff;
            color: #ffffff;
            border-radius: 50px;
            cursor: pointer;
            font-size: 12px;
            font-weight: 500;
            font-family: "Roboto", sans-serif;
            line-height: 18px;
            padding: 8px 16px;
            text-decoration: none;
        }
    }
}

.card-pro-wrapper {
    width: 100%;
    border-radius: 50px;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 15px;
    background: linear-gradient(180deg, #7A7DFF -13.87%, #3D40BE 100%);

    .card-pro-image {
        margin-bottom: -30px;
        max-width: 100%;
    }
    .card-pro-title{
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        color: white;
        text-align: center;
        bottom: 10px;
    }

    .buttons {
        display: flex;
        gap: 8px;
        padding-top: 10px;
        margin: 0px auto;
        z-index: 1;
        position: relative;
        width: 50%;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
    }
}