.loading-skeleton {
    display: block;
    background-color: rgba(0, 0, 0, 0.08);
    position: relative;
    overflow: hidden;
  
    &.skeleton-circle {
        border-radius: 100%;
    }
  
    &.animation-wave {
        &:after {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            z-index: 1;
            position: absolute;
            animation: loading-skeleton-keyframes-wave 1.6s linear .5s infinite;
            transform: translateX(-100%);
            background: linear-gradient(90deg, transparent, rgba(0, 0, 0, .08), transparent)
        }
    }
  
    &.animation-pulse {
        animation: loading-skeleton-keyframes-pulse 1.5s ease-in-out .5s infinite
    }
}
  
@keyframes loading-skeleton-keyframes-pulse {
    0% {
        opacity: 1
    }
    50% {
        opacity: .4
    }
    100% {
        opacity: 1
    }
}
  
@keyframes loading-skeleton-keyframes-wave {
    0% {
        transform: translateX(-100%)
    }
    60% {
        transform: translateX(100%)
    }
    100% {
        transform: translateX(100%)
    }
}