.editor-styles-wrapper {
    .guten-search-result-title {
        transition: all .2s;
        h1, h2, h3, h4, h5, h6, p, span {
            margin-top: 0;
            margin-bottom: 0;
            width: 100%;
        }

        &.block-editor-block-list__block {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .guten-post-content.guten-element {
        .components-disabled {
            .search-input-text .placeholder-text{
                display: none;
            }
        }
    }

    .is-editing-disabled {
        .search-input-text .placeholder-text{
            display: none;
        }
    }
}