.editor-styles-wrapper {
    .guten-query-loop {
        .section-variation-picker-list {
            .section-variation-picker-item {
                button {
                    color: #000000;

                    &:hover {
                        color: #000000 !important;
                    }
                }
            }
        }

        .guten-query-loop-container {
            display: grid;
        }

        .guten-query-loop-loading,
        .guten-query-loop-no-results {
            grid-column: 1 / -1;
        }
    }

    .guten-post-template {
        list-style: none;
        padding: 0;
        margin: 0;
        display: contents;

        .wp-block-post {
            list-style: none;
        }
    }
}