.guten-query-loop {
    .guten-query-loop-container {
        display: grid;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .guten-query-loop-loading,
    .guten-query-loop-no-results {
        padding: 20px;
        text-align: center;
        color: #666;
        background: #f5f5f5;
        border-radius: 4px;
    }

    .guten-post-template-item {
        display: flex;
        flex-direction: column;
    }

    .guten-post-template-content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .guten-post-featured-image {
        margin-bottom: 15px;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .guten-post-title {
        margin: 0 0 10px;
        font-size: 1.25rem;
        line-height: 1.3;

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .guten-post-excerpt {
        margin: 0;
        font-size: 0.875rem;
        color: #666;
        line-height: 1.6;

        p {
            margin: 0;
        }
    }
}

.guten-post-template {
    list-style: none;
    padding: 0;
    margin: 0;
    display: contents;

    .wp-block-post {
        display: flex;
        flex-direction: column;
    }
}
