@import "gutenverse-core/src/assets/mixin";
@import "gutenverse-core/src/assets/variables";
@import "gutenverse-core/src/assets/wp-fix";

.guten-image-box,
.gutenverse-image-box {
    @include transition(false, false, all .4s ease);
    display: flex;
    text-align: center;
    flex-direction: column;

    .inner-container {
        display: flex;
        margin: 0;
        flex-direction: column;

        .image-box-header {
            @include transition(false, false, all .4s ease);
            position: relative;
            overflow: hidden;
            line-height: 0;

            img {
                @include transition(false, false, all .4s ease);
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                width: -webkit-fill-available;
                height: auto;
                margin: 0;
                object-fit: cover;
                border-radius: inherit;
            }

            a {
                line-height: 0;
            }
        }

        .image-box-body {
            margin: 0;
        }

        .body-inner {
            padding: 30px 35px;
            position: relative;
            overflow: hidden;
            background: var(--guten-bg-color);
            @include boxshadow(0 0 20px 0 rgba(0, 0, 0, 0.25));

            .body-description {
                color: var(--guten-txt-h-color);
            }
        }

        .body-title {
            font-size: 18px;
            margin-bottom: 20px;
            color: var(--guten-txt-h-color);
            font-weight: 700;
            display: inline-flex;
            align-items: center;

            svg {
                fill: var(--guten-txt-h-color);
            }

            a {
                text-decoration: none;
                color: var(--guten-txt-h-color);
            }
        }

        &.style-floating {
            .body-inner {
                background-color: #fff;
                @include boxshadow(0 2px 4px rgba(0, 0, 0, 0.08));
                @include transition(false, false, all .4s ease);
                height: 90px;
                position: relative;
                margin-left: auto;
                margin-right: auto;
                margin-top: -50px;

                .body-description,
                .guten-button {
                    @include transition(false, false, all .4s ease);
                    opacity: 0;
                    visibility: hidden;
                }
            }

            &:hover {
                .body-inner {
                    height: 220px;

                    .body-description,
                    .guten-button {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }

    @include borderBottom();
}