#wpadminbar #wp-admin-bar-gutenverse-adminbar-notification-default .gutenverse-2-0-compatibility-notice,
#gutenverse-dashboard .navigation-wrapper .dashboard-notifications .notification-list .gutenverse-notification .gutenverse-2-0-compatibility-notice {
    ul.plugin-list {
        list-style: disc inside;

        li {
            list-style: inherit;
        }
    }

    .guten-primary {
        border-radius: 3px;
        padding: 10px 8px;
        background: #3B57F7;
        font-family: Roboto;
        font-weight: 500;
        font-size: 11px;
        color: #FFFFFF;
        line-height: 1rem;
    }
}