#wpadminbar #wp-admin-bar-gutenverse-adminbar-notification-default .gutenverse-form-entries-notice,
#gutenverse-dashboard .navigation-wrapper .dashboard-notifications .notification-list .gutenverse-notification .gutenverse-form-entries-notice {
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
    .gutenverse-upgrade-action{
        margin-top: 10px;

        .button-primary{
            border-radius: 3px;
            padding: 10px 8px;
            background: #3B57F7;
            font-family: Roboto;
            font-weight: 500;
            font-size: 11px;
            color: #FFFFFF;
            line-height: 1rem;
            display: flex;

            svg {
                animation: infinite rotate 2s linear;
            }
        }
    }
}