.guten-accordions {
  .accordion-item {
    border: 1px solid var(--guten-border-color);
    margin: 0;

    .accordion-heading {
      margin: 0;
      padding: 15px 20px;
      font-weight: bold;
      line-height: 1;
      cursor: pointer;
      outline: none;
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--guten-border-color);

      .accordion-text {
        flex-grow: 1;
        transition : background-color 0.3s ease 0s, border 0.3s ease 0s, border-radius 0.3s ease 0s, box-shadow 0.3s ease 0s, color 0.1s ease 0s, height 0.3s ease 0s;
      }

      > p {
        margin: 0;
      }
    }

    .accordion-body {
      height: 0;
      overflow: hidden;
    }

    .accordion-content {
      padding: 15px 20px;
    }
  }
}

