.guten-icon-list-item {
    margin-left: 0;
    margin-right: 0;
    width: fit-content;

    .list-text {
        white-space: pre-wrap;
    }

    .list-divider {
        display: flex;
    }

    a {
        display: flex;

        i {
            display: flex;
            align-items: center;
            height: 1em;
        }
    }
}