.guten-icon-list-item {
    margin-left: 0;
    margin-right: 0;
    width: fit-content;
    i {
        line-height: 25px;
    }

    .list-text {
        padding-left: 6px;
        white-space: pre-wrap;
    }
    .list-divider{
        display: flex;
    }
}