.guten-icon-list-item {
    margin-left: 0;
    margin-right: 0;
    width: fit-content;

    .list-text {
        white-space: pre-wrap;
    }
    .list-divider{
        display: flex;
    }
    a {
        display: flex;

        i, svg{
            display: flex;
            align-items: center;
        }

        svg {
            width: 15px;
            height: auto;
        }
    }
}